openapi: 3.1.0
info:
  title: Health Assistant API (Semantic/GPT)
  version: "2.0.0"
  description: |
    Deterministic workout and physiometric API consumed by ChatGPT Actions.
    Returns stored metrics only; no model-generated values.

    This spec contains GPT-facing endpoints, including preference and observation updates.
    At conversation start, call /api/agent/context and /api/planning/context to load live preferences, observations, workload, and readiness signals.
    For broader operational endpoints (config, ingestion, webhooks), see openapi.operations.yaml.
servers:
  - url: https://health.azure.barrimond.net
    description: Azure Functions host
paths:
  /api/health:
    get:
      summary: Health check with dependency status
      operationId: healthCheck
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        '503':
          description: Service is degraded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
  /api/agent/context:
    get:
      summary: Get agent memory context (preferences + active observations)
      operationId: getAgentContext
      description: Primary agent memory endpoint. Call at conversation start to load user preferences and active observations.
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Agent context with preferences and observations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentContext'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/agent/preferences:
    get:
      summary: List agent preferences
      operationId: getAgentPreferences
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
        - name: status
          in: query
          required: false
          description: Filter by status
          schema:
            type: string
            enum: [active, resolved, archived, all]
            default: active
        - name: limit
          in: query
          required: false
          description: Maximum number of preferences
          schema:
            type: integer
            default: 20
            maximum: 100
      security:
        - FunctionKey: []
      responses:
        '200':
          description: List of preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPreferencesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      summary: Create new preference
      operationId: createAgentPreference
      description: Add a new preference item for the agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePreferenceRequest'
      security:
        - FunctionKey: []
      responses:
        '201':
          description: Preference created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferenceCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/agent/preferences/{preference_id}:
    patch:
      summary: Update a preference
      operationId: updateAgentPreference
      parameters:
        - name: preference_id
          in: path
          required: true
          description: Preference UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                athlete_id:
                  type: string
                category:
                  type: string
                summary:
                  type: string
                details:
                  type: string
                priority:
                  type: string
                  enum: [low, normal, high]
                status:
                  type: string
                  enum: [active, resolved, archived]
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Preference updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferenceUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/agent/observations:
    get:
      summary: List training observations
      operationId: listAgentObservations
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
        - name: status
          in: query
          required: false
          description: Filter by status
          schema:
            type: string
            enum: [active, resolved, archived, all]
            default: active
        - name: limit
          in: query
          required: false
          description: Maximum number of observations
          schema:
            type: integer
            default: 20
            maximum: 100
      security:
        - FunctionKey: []
      responses:
        '200':
          description: List of observations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObservationsList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      summary: Add new training observation
      operationId: addAgentObservation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateObservationRequest'
      security:
        - FunctionKey: []
      responses:
        '201':
          description: Observation created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObservationCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/agent/observations/{observation_id}:
    patch:
      summary: Update observation status
      operationId: updateAgentObservation
      parameters:
        - name: observation_id
          in: path
          required: true
          description: Observation UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                athlete_id:
                  type: string
                status:
                  type: string
                  enum: [active, resolved, archived]
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Observation updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObservationStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/planning/context:
    get:
      summary: Get planning context for training decisions
      operationId: planningContext
      security:
        - FunctionKey: []
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
        - name: days
          in: query
          required: false
          schema:
            type: integer
            default: 45
            maximum: 365
      responses:
        '200':
          description: Planning context payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanningContext'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/workouts:
    get:
      summary: Query workouts with filters
      operationId: listWorkouts
      security:
        - FunctionKey: []
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
        - name: since
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: until
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: sport
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: List of workouts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutsList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/workouts/{workout_id}:
    get:
      summary: Get detailed workout data
      operationId: getWorkout
      security:
        - FunctionKey: []
      parameters:
        - name: workout_id
          in: path
          required: true
          schema:
            type: string
        - name: athlete_id
          in: query
          required: true
          description: Athlete identifier
          schema:
            type: string
        - name: laps
          in: query
          required: false
          description: Include lap summaries if available
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Workout detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Workout not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/workouts/{workout_id}/laps/{lap_index}:
    get:
      summary: Get lap summary and records
      operationId: getWorkoutLap
      security:
        - FunctionKey: []
      parameters:
        - name: workout_id
          in: path
          required: true
          schema:
            type: string
        - name: lap_index
          in: path
          required: true
          schema:
            type: integer
        - name: athlete_id
          in: query
          required: true
          description: Athlete identifier
          schema:
            type: string
      responses:
        '200':
          description: Lap detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutLapDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/rollups/weekly:
    get:
      summary: Get weekly rollup data
      operationId: weeklyRollups
      security:
        - FunctionKey: []
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
        - name: weeks
          in: query
          required: false
          schema:
            type: integer
            default: 16
            maximum: 52
      responses:
        '200':
          description: Weekly rollups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeeklyRollups'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/analysis/zones:
    get:
      summary: Get time-in-zone distribution
      operationId: zoneDistribution
      security:
        - FunctionKey: []
      parameters:
        - name: athlete_id
          in: query
          required: true
          description: Athlete identifier
          schema:
            type: string
        - name: days
          in: query
          required: false
          schema:
            type: integer
            default: 30
            maximum: 365
      responses:
        '200':
          description: Zone distribution data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneDistribution'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/analysis/efficiency:
    get:
      summary: Get aerobic efficiency and decoupling trends
      operationId: efficiencyTrends
      security:
        - FunctionKey: []
      parameters:
        - name: athlete_id
          in: query
          required: true
          description: Athlete identifier
          schema:
            type: string
        - name: days
          in: query
          required: false
          schema:
            type: integer
            default: 90
            maximum: 365
      responses:
        '200':
          description: Efficiency trend data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EfficiencyTrends'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/physiometrics/current:
    get:
      summary: Get current physiometric values
      operationId: getCurrentPhysiometrics
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Current snapshot of metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhysiometricSnapshot'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/physiometrics/history:
    get:
      summary: Get physiometric time series
      operationId: getPhysiometricsHistory
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
        - name: days
          in: query
          required: false
          description: Days to look back (default 90, max 365)
          schema:
            type: integer
            format: int32
            default: 90
            maximum: 365
        - name: metrics
          in: query
          required: false
          description: Comma-separated list of metric identifiers
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Time-series data for requested metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhysiometricHistory'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  parameters:
    AthleteId:
      name: athlete_id
      in: query
      required: true
      description: Athlete identifier
      schema:
        type: string
    AthleteIdOptional:
      name: athlete_id
      in: query
      required: false
      description: Athlete identifier (optional; falls back to DEFAULT_ATHLETE_ID)
      schema:
        type: string
  responses:
    BadRequest:
      description: Invalid input
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    HealthStatus:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded]
          description: Overall health status
        timestamp:
          type: string
          format: date-time
          description: ISO8601 timestamp of the health check
        storage:
          type: string
          enum: [ok, degraded]
          description: Table storage connectivity status
      required:
        - status
        - timestamp
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: athlete_id required
    AgentContext:
      type: object
      properties:
        athlete_id:
          type: string
        preferences:
          type: array
          items:
            $ref: '#/components/schemas/Preference'
        active_observations:
          type: array
          items:
            $ref: '#/components/schemas/Observation'
        instruction_addendum:
          type:
            - string
            - 'null'
        retrieved_at:
          type: string
          format: date-time
      required:
        - athlete_id
        - preferences
        - active_observations
    AgentPreferences:
      description: Legacy single-record preferences schema (deprecated)
      type: object
      properties:
        current_goal:
          type: string
          description: Current training goal
        training_phase:
          type: string
          description: Training phase (base, build, peak, recovery)
        preferred_sports:
          type: array
          items:
            type: string
          description: Active sports/disciplines
        ftp_test_frequency_weeks:
          type: integer
          description: How often to test FTP (weeks)
        last_ftp_test_date:
          type: string
          format: date
          description: ISO date of last FTP test
        notes:
          type: string
          description: Free-form context notes
        updated_at:
          type: string
          format: date-time
    Preference:
      type: object
      properties:
        preference_id:
          type: string
          format: uuid
        category:
          type: string
        summary:
          type: string
        details:
          type: string
        priority:
          type: string
          enum: [low, normal, high]
        status:
          type: string
          enum: [active, resolved, archived]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - preference_id
        - category
        - summary
        - priority
        - status
        - created_at
    AgentPreferencesResponse:
      type: object
      properties:
        athlete_id:
          type: string
        preferences:
          type: array
          items:
            $ref: '#/components/schemas/Preference'
        count:
          type: integer
      required:
        - athlete_id
        - preferences
        - count
    CreatePreferenceRequest:
      type: object
      required:
        - category
        - summary
      properties:
        athlete_id:
          type: string
          default: rob
        category:
          type: string
        summary:
          type: string
        details:
          type: string
        priority:
          type: string
          enum: [low, normal, high]
          default: normal
        status:
          type: string
          enum: [active, resolved, archived]
          default: active
    PreferenceCreateResponse:
      type: object
      properties:
        preference_id:
          type: string
          format: uuid
        preference:
          $ref: '#/components/schemas/Preference'
      required:
        - preference_id
        - preference
    PreferenceUpdateResponse:
      type: object
      properties:
        preference_id:
          type: string
          format: uuid
        preference:
          $ref: '#/components/schemas/Preference'
      required:
        - preference_id
        - preference
    UpdatePreferencesRequest:
      description: Legacy request schema (deprecated)
      type: object
      properties:
        athlete_id:
          type: string
          default: rob
        current_goal:
          type: string
        training_phase:
          type: string
        preferred_sports:
          type: array
          items:
            type: string
        ftp_test_frequency_weeks:
          type: integer
        last_ftp_test_date:
          type: string
          format: date
        notes:
          type: string
    Observation:
      type: object
      properties:
        observation_id:
          type: string
          format: uuid
        category:
          type: string
        summary:
          type: string
        details:
          type: string
        referenced_workout_ids:
          type: array
          items:
            type: string
        priority:
          type: string
          enum: [low, normal, high]
        status:
          type: string
          enum: [active, resolved, archived]
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
      required:
        - observation_id
        - category
        - summary
        - priority
        - status
        - created_at
    CreateObservationRequest:
      type: object
      required:
        - category
        - summary
      properties:
        athlete_id:
          type: string
          default: rob
        category:
          type: string
        summary:
          type: string
        details:
          type: string
        workout_ids:
          type: array
          items:
            type: string
        priority:
          type: string
          enum: [low, normal, high]
        expires_days:
          type: integer
          minimum: 1
    ObservationResponse:
      type: object
      properties:
        observation_id:
          type: string
          format: uuid
        athlete_id:
          type: string
        category:
          type: string
        summary:
          type: string
        details:
          type: string
        referenced_workout_ids:
          type: array
          items:
            type: string
        priority:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
      required:
        - observation_id
        - athlete_id
        - category
        - summary
        - priority
        - status
        - created_at
      additionalProperties: true
    ObservationCreateResponse:
      type: object
      properties:
        observation_id:
          type: string
          format: uuid
        observation:
          $ref: '#/components/schemas/ObservationResponse'
      required:
        - observation_id
        - observation
    ObservationStatusResponse:
      type: object
      properties:
        observation_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [active, resolved, archived]
        updated_at:
          type: string
          format: date-time
      required:
        - observation_id
        - status
        - updated_at
    ObservationsList:
      type: object
      properties:
        athlete_id:
          type: string
        observations:
          type: array
          items:
            $ref: '#/components/schemas/Observation'
        count:
          type: integer
      required:
        - athlete_id
        - observations
        - count
    PhysiometricSnapshot:
      type: object
      description: Key-value map of the latest physiometric metrics for the athlete.
      properties:
        athlete_id:
          type: string
        heart_rate:
          type: object
        power:
          type: object
        weight_kg:
          type: number
      additionalProperties:
        oneOf:
          - type: number
          - type: string
          - type: object
    PhysiometricHistory:
      type: object
      properties:
        athlete_id:
          type: string
        query_window:
          type: object
          properties:
            start_date:
              type: string
              format: date
            end_date:
              type: string
              format: date
            days:
              type: integer
        count:
          type: integer
        data_points:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    UpdatePhysiometricRequest:
      type: object
      required:
        - athlete_id
      properties:
        athlete_id:
          type: string
        metric:
          type: string
          description: Single metric identifier to update
        value:
          type: number
          description: Value for the single metric update
        metrics:
          type: object
          description: Map of metric identifiers to values for bulk updates
          additionalProperties:
            type: number
        effective_date:
          type: string
          format: date
        source:
          type: string
          description: Source of the data (e.g., chatgpt)
    UpdatePhysiometricResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        athlete_id:
          type: string
        metric:
          type: string
        value:
          type: number
        effective_date:
          type: string
          format: date
        source:
          type: string
        updated_at_utc:
          type: string
          format: date-time
        updates:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    WithingsAuthorizeResponse:
      type: object
      properties:
        authorization_url:
          type: string
          format: uri
        instructions:
          type: string
        athlete_id:
          type: string
    WithingsWebhookPayload:
      type: object
      properties:
        userid:
          type: string
        appli:
          type: string
          description: Notification type (1 = weight)
        startdate:
          type: string
          description: Unix timestamp
        enddate:
          type: string
          description: Unix timestamp
      required:
        - userid
        - appli
        - startdate
        - enddate
    RecalculatedWorkoutResponse:
      type: object
      properties:
        message:
          type: string
          example: Not implemented
        workout_id:
          type: string
        physiometrics_override:
          type: object
          additionalProperties: true
    ConfigSnapshot:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        heart_rate:
          type: object
          properties:
            basis:
              type: string
            lthr_bpm:
              type: integer
            hr_max_bpm:
              type: integer
            resting_hr_bpm:
              type: integer
        power:
          type: object
          properties:
            ftp_watts:
              type: integer
    ConfigUpdateRequest:
      type: object
      properties:
        heart_rate:
          type: object
          additionalProperties: true
        power:
          type: object
          additionalProperties: true
      required:
        - heart_rate
        - power
    ConfigUpdateResponse:
      allOf:
        - $ref: '#/components/schemas/ConfigSnapshot'
        - type: object
          properties:
            updated_at_utc:
              type: string
    ConfigHistoryResponse:
      type: object
      properties:
        status:
          type: string
        count:
          type: integer
        history:
          type: array
          items:
            type: object
            properties:
              updated_at_utc:
                type: string
              heart_rate:
                type: object
                additionalProperties: true
              power:
                type: object
                additionalProperties: true
    ProcessFitRequest:
      type: object
      required:
        - athlete_id
        - source_file_name
        - file_content_b64
      properties:
        athlete_id:
          type: string
        source_system:
          type: string
        source_item_id:
          type: string
        source_file_name:
          type: string
        source_file_path:
          type: string
        source_drive_id:
          type: string
        source_etag:
          type: string
        source_ctag:
          type: string
        source_quickxor_hash:
          type: string
        source_modified_at_utc:
          type: string
          format: date-time
        file_content_b64:
          type: string
          description: Base64-encoded FIT file content
        file_size_bytes:
          type: integer
        file_sha256:
          type: string
    ProcessFitResponse:
      type: object
      description: Parsed FIT metrics with source metadata. Response fields mirror parsed metrics.
      properties:
        source_info:
          type: object
          properties:
            source_system:
              type: string
            source_file_name:
              type: string
            source_file_path:
              type: string
            source_item_id:
              type: string
            source_drive_id:
              type: string
            source_etag:
              type: string
            source_ctag:
              type: string
            source_quickxor_hash:
              type: string
            source_modified_at_utc:
              type: string
              format: date-time
            file_size_bytes:
              type: integer
            file_sha256:
              type: string
        error:
          type: string
      additionalProperties: true
    PlanningContext:
      type: object
      description: Aggregated planning context for the athlete.
      properties:
        athlete_id:
          type: string
        query_window:
          type: object
        recent_workouts:
          type: array
          items:
            type: object
        weekly_rollups:
          type: array
          items:
            type: object
        summary:
          type: object
        notable_flags:
          type: array
          items:
            type: string
      additionalProperties: true
    WorkoutsList:
      type: object
      properties:
        athlete_id:
          type: string
        count:
          type: integer
        workouts:
          type: array
          items:
            $ref: '#/components/schemas/WorkoutSummary'
    WorkoutSummary:
      type: object
      properties:
        workout_id:
          type: string
        athlete_id:
          type: string
        sport:
          type: string
        sub_sport:
          type: string
        workout_name:
          type: string
        is_indoor:
          type: boolean
        start_time_utc:
          type: string
          format: date-time
        timezone:
          type: string
          description: Timezone name or UTC offset (e.g., `UTC-05:00`).
        duration_sec:
          type: number
        moving_time_sec:
          type: number
        distance_m:
          type: number
        elevation_gain_m:
          type: number
        calories_kcal:
          type: number
        hr_avg_bpm:
          type: number
        hr_max_bpm:
          type: number
        hr_z1_sec:
          type: number
        hr_z2_sec:
          type: number
        hr_z3_sec:
          type: number
        hr_z4_sec:
          type: number
        hr_z5_sec:
          type: number
        hr_zone_basis:
          type: string
        hr_zone_reference_bpm:
          type: number
        pwr_avg_watts:
          type: number
        pwr_max_watts:
          type: number
        pwr_normalized_watts:
          type: number
        pwr_variability_index:
          type: number
        pwr_z1_sec:
          type: number
        pwr_z2_sec:
          type: number
        pwr_z3_sec:
          type: number
        pwr_z4_sec:
          type: number
        pwr_z5_sec:
          type: number
        pwr_z6_sec:
          type: number
        pwr_z7_sec:
          type: number
        low_aerobic_sec:
          type: number
        intensity_sec:
          type: number
        ftp_watts:
          type: number
        intensity_factor:
          type: number
        tss:
          type: number
        decoupling_pct:
          type: number
        hr_drift_bpm:
          type: number
        ef_first_half:
          type: number
        ef_second_half:
          type: number
        ef_overall:
          type: number
        source_system:
          type: string
      additionalProperties: true
    WorkoutDetail:
      allOf:
        - $ref: '#/components/schemas/WorkoutSummary'
    WorkoutLapDetail:
      type: object
      properties:
        workout_id:
          type: string
        athlete_id:
          type: string
        lap_index:
          type: integer
        record_count:
          type: integer
        start_time:
          type: string
          format: date-time
        total_elapsed_time:
          type: number
        total_timer_time:
          type: number
        total_distance:
          type: number
        total_calories:
          type: number
        avg_heart_rate:
          type: number
        max_heart_rate:
          type: number
        avg_power:
          type: number
        max_power:
          type: number
        avg_cadence:
          type: number
        max_cadence:
          type: number
        records:
          type: array
          items:
            type: object
            properties:
              record_index:
                type: integer
              heart_rate:
                type: integer
              power:
                type: integer
              cadence:
                type: integer
              position_lat:
                type: number
              position_long:
                type: number
    WeeklyRollups:
      type: object
      properties:
        athlete_id:
          type: string
        weeks:
          type: integer
        count:
          type: integer
        rollups:
          type: array
          items:
            type: object
            additionalProperties: true
    ZoneDistribution:
      type: object
      description: Time-in-zone distribution.
      properties:
        athlete_id:
          type: string
        days:
          type: integer
        zones:
          type: object
      additionalProperties: true
    EfficiencyTrends:
      type: object
      description: Aerobic efficiency and decoupling trends.
      properties:
        athlete_id:
          type: string
        days:
          type: integer
        trends:
          type: array
          items:
            type: object
      additionalProperties: true
  securitySchemes:
    FunctionKey:
      type: apiKey
      in: query
      name: code
      description: Azure Functions API key passed as `?code=...`
