openapi: 3.1.0
info:
  title: Health Assistant API (Semantic/GPT)
  version: "3.1.0"
  description: |
    Deterministic workout and physiometric API consumed by ChatGPT Actions.
    Returns workout metrics including zones and enhanced analytics computed at read-time from canonical substrate using athlete's current physiometric configuration. All derived metrics are computed deterministically by CanonicalAnalyticsEngine.

    Version 3.1.0 adds training state projection endpoints (on-demand computation from workouts + physiometrics).
    
    This spec contains GPT-facing endpoints, including preference and observation updates.
    At conversation start, call /api/agent/context and /api/planning/context to load live preferences, observations, workload, and readiness signals.
    For broader operational endpoints (config, ingestion, webhooks), see openapi.operations.yaml.
servers:
  - url: https://health.azure.barrimond.net
    description: Azure Functions host
paths:
  /api/health:
    get:
      summary: Health check with dependency status
      operationId: healthCheck
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        '503':
          description: Service is degraded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
  /api/agent/context:
    get:
      summary: Get agent memory context (preferences + active observations)
      operationId: getAgentContext
      description: Primary agent memory endpoint. Call at conversation start to load user preferences and active observations.
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Agent context with preferences and observations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentContext'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/agent/preferences:
    get:
      summary: List agent preferences
      operationId: getAgentPreferences
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
        - name: status
          in: query
          required: false
          description: Filter by status
          schema:
            type: string
            enum: [active, resolved, archived, all]
            default: active
        - name: limit
          in: query
          required: false
          description: Maximum number of preferences
          schema:
            type: integer
            default: 20
            maximum: 100
      security:
        - FunctionKey: []
      responses:
        '200':
          description: List of preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPreferencesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      summary: Create new preference
      operationId: createAgentPreference
      description: Add a new preference item for the agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePreferenceRequest'
      security:
        - FunctionKey: []
      responses:
        '201':
          description: Preference created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferenceCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/agent/preferences/{preference_id}:
    patch:
      summary: Update a preference
      operationId: updateAgentPreference
      parameters:
        - name: preference_id
          in: path
          required: true
          description: Preference UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                athlete_id:
                  type: string
                category:
                  type: string
                summary:
                  type: string
                details:
                  type: string
                priority:
                  type: string
                  enum: [low, normal, high]
                status:
                  type: string
                  enum: [active, resolved, archived]
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Preference updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferenceUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/agent/observations:
    get:
      summary: List training observations
      operationId: listAgentObservations
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
        - name: status
          in: query
          required: false
          description: Filter by status
          schema:
            type: string
            enum: [active, resolved, archived, all]
            default: active
        - name: limit
          in: query
          required: false
          description: Maximum number of observations
          schema:
            type: integer
            default: 20
            maximum: 100
      security:
        - FunctionKey: []
      responses:
        '200':
          description: List of observations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObservationsList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      summary: Add new training observation
      operationId: addAgentObservation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateObservationRequest'
      security:
        - FunctionKey: []
      responses:
        '201':
          description: Observation created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObservationCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/agent/observations/{observation_id}:
    patch:
      summary: Update observation status
      operationId: updateAgentObservation
      parameters:
        - name: observation_id
          in: path
          required: true
          description: Observation UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                athlete_id:
                  type: string
                status:
                  type: string
                  enum: [active, resolved, archived]
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Observation updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObservationStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/planning/context:
    get:
      summary: Get planning context for training decisions
      operationId: planningContext
      security:
        - FunctionKey: []
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
        - name: days
          in: query
          required: false
          schema:
            type: integer
            default: 45
            maximum: 365
      responses:
        '200':
          description: Planning context payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanningContext'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/workouts:
    get:
      summary: Query workouts with filters
      operationId: listWorkouts
      security:
        - FunctionKey: []
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
        - name: since
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: until
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: sport
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: List of workouts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutsList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/workouts/{workout_id}:
    get:
      summary: Get detailed workout data
      operationId: getWorkout
      security:
        - FunctionKey: []
      parameters:
        - name: workout_id
          in: path
          required: true
          schema:
            type: string
        - name: athlete_id
          in: query
          required: true
          description: Athlete identifier
          schema:
            type: string
        - name: laps
          in: query
          required: false
          description: Include lap summaries if available
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Workout detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Workout not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/workouts/{workout_id}/laps/{lap_index}:
    get:
      summary: Get lap summary and records
      operationId: getWorkoutLap
      security:
        - FunctionKey: []
      parameters:
        - name: workout_id
          in: path
          required: true
          schema:
            type: string
        - name: lap_index
          in: path
          required: true
          schema:
            type: integer
        - name: athlete_id
          in: query
          required: true
          description: Athlete identifier
          schema:
            type: string
      responses:
        '200':
          description: Lap detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutLapDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/rollups/weekly:
    get:
      summary: Get weekly rollup data
      operationId: weeklyRollups
      security:
        - FunctionKey: []
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
        - name: weeks
          in: query
          required: false
          schema:
            type: integer
            default: 16
            maximum: 52
      responses:
        '200':
          description: Weekly rollups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeeklyRollups'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/analysis/zones:
    get:
      summary: Get time-in-zone distribution
      operationId: zoneDistribution
      security:
        - FunctionKey: []
      parameters:
        - name: athlete_id
          in: query
          required: true
          description: Athlete identifier
          schema:
            type: string
        - name: days
          in: query
          required: false
          schema:
            type: integer
            default: 30
            maximum: 365
      responses:
        '200':
          description: Zone distribution data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneDistribution'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/analysis/efficiency:
    get:
      summary: Get aerobic efficiency and decoupling trends
      operationId: efficiencyTrends
      security:
        - FunctionKey: []
      parameters:
        - name: athlete_id
          in: query
          required: true
          description: Athlete identifier
          schema:
            type: string
        - name: days
          in: query
          required: false
          schema:
            type: integer
            default: 90
            maximum: 365
      responses:
        '200':
          description: Efficiency trend data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EfficiencyTrends'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/physiometrics/current:
    get:
      summary: Get current physiometric values
      operationId: getCurrentPhysiometrics
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Current snapshot of metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhysiometricSnapshot'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/physiometrics/history:
    get:
      summary: Get physiometric time series
      operationId: getPhysiometricsHistory
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
        - name: days
          in: query
          required: false
          description: Days to look back (default 90, max 365)
          schema:
            type: integer
            format: int32
            default: 90
            maximum: 365
        - name: metrics
          in: query
          required: false
          description: Comma-separated list of metric identifiers
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Time-series data for requested metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhysiometricHistory'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/training-state/current:
    get:
      summary: Get current training state
      operationId: getCurrentTrainingState
      description: Computes on-demand training state projection from recent workouts and current physiometrics. Includes TSS, training load, recovery metrics, and readiness signals.
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Current training state snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingStateSnapshot'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/training-state/history:
    get:
      summary: Get training state time series
      operationId: getTrainingStateHistory
      description: Computes historical training state projections. Each snapshot reflects training load, recovery, and readiness at that point in time.
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
        - name: days
          in: query
          required: false
          description: Days to look back (default 90, max 365)
          schema:
            type: integer
            format: int32
            default: 90
            maximum: 365
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Time-series training state data
          content:
            application/json:
              schema:
                type: object
                properties:
                  athlete_id:
                    type: string
                  days:
                    type: integer
                  snapshots:
                    type: array
                    items:
                      $ref: '#/components/schemas/TrainingStateSnapshot'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  parameters:
    AthleteId:
      name: athlete_id
      in: query
      required: true
      description: Athlete identifier
      schema:
        type: string
    AthleteIdOptional:
      name: athlete_id
      in: query
      required: false
      description: Athlete identifier (optional; falls back to DEFAULT_ATHLETE_ID)
      schema:
        type: string
  responses:
    BadRequest:
      description: Invalid input
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    HealthStatus:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded]
          description: Overall health status
        timestamp:
          type: string
          format: date-time
          description: ISO8601 timestamp of the health check
        storage:
          type: string
          enum: [ok, degraded]
          description: Table storage connectivity status
      required:
        - status
        - timestamp
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: athlete_id required
    AgentContext:
      type: object
      properties:
        athlete_id:
          type: string
        preferences:
          type: array
          items:
            $ref: '#/components/schemas/Preference'
        active_observations:
          type: array
          items:
            $ref: '#/components/schemas/Observation'
        instruction_addendum:
          type:
            - string
            - 'null'
        retrieved_at:
          type: string
          format: date-time
      required:
        - athlete_id
        - preferences
        - active_observations
    AgentPreferences:
      description: Legacy single-record preferences schema (deprecated)
      type: object
      properties:
        current_goal:
          type: string
          description: Current training goal
        training_phase:
          type: string
          description: Training phase (base, build, peak, recovery)
        preferred_sports:
          type: array
          items:
            type: string
          description: Active sports/disciplines
        ftp_test_frequency_weeks:
          type: integer
          description: How often to test FTP (weeks)
        last_ftp_test_date:
          type: string
          format: date
          description: ISO date of last FTP test
        notes:
          type: string
          description: Free-form context notes
        updated_at:
          type: string
          format: date-time
    Preference:
      type: object
      properties:
        preference_id:
          type: string
          format: uuid
        category:
          type: string
        summary:
          type: string
        details:
          type: string
        priority:
          type: string
          enum: [low, normal, high]
        status:
          type: string
          enum: [active, resolved, archived]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - preference_id
        - category
        - summary
        - priority
        - status
        - created_at
    AgentPreferencesResponse:
      type: object
      properties:
        athlete_id:
          type: string
        preferences:
          type: array
          items:
            $ref: '#/components/schemas/Preference'
        count:
          type: integer
      required:
        - athlete_id
        - preferences
        - count
    CreatePreferenceRequest:
      type: object
      required:
        - category
        - summary
      properties:
        athlete_id:
          type: string
          default: rob
        category:
          type: string
        summary:
          type: string
        details:
          type: string
        priority:
          type: string
          enum: [low, normal, high]
          default: normal
        status:
          type: string
          enum: [active, resolved, archived]
          default: active
    PreferenceCreateResponse:
      type: object
      properties:
        preference_id:
          type: string
          format: uuid
        preference:
          $ref: '#/components/schemas/Preference'
      required:
        - preference_id
        - preference
    PreferenceUpdateResponse:
      type: object
      properties:
        preference_id:
          type: string
          format: uuid
        preference:
          $ref: '#/components/schemas/Preference'
      required:
        - preference_id
        - preference
    UpdatePreferencesRequest:
      description: Legacy request schema (deprecated)
      type: object
      properties:
        athlete_id:
          type: string
          default: rob
        current_goal:
          type: string
        training_phase:
          type: string
        preferred_sports:
          type: array
          items:
            type: string
        ftp_test_frequency_weeks:
          type: integer
        last_ftp_test_date:
          type: string
          format: date
        notes:
          type: string
    Observation:
      type: object
      properties:
        observation_id:
          type: string
          format: uuid
        category:
          type: string
        summary:
          type: string
        details:
          type: string
        referenced_workout_ids:
          type: array
          items:
            type: string
        priority:
          type: string
          enum: [low, normal, high]
        status:
          type: string
          enum: [active, resolved, archived]
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
      required:
        - observation_id
        - category
        - summary
        - priority
        - status
        - created_at
    CreateObservationRequest:
      type: object
      required:
        - category
        - summary
      properties:
        athlete_id:
          type: string
          default: rob
        category:
          type: string
        summary:
          type: string
        details:
          type: string
        workout_ids:
          type: array
          items:
            type: string
        priority:
          type: string
          enum: [low, normal, high]
        expires_days:
          type: integer
          minimum: 1
    ObservationResponse:
      type: object
      properties:
        observation_id:
          type: string
          format: uuid
        athlete_id:
          type: string
        category:
          type: string
        summary:
          type: string
        details:
          type: string
        referenced_workout_ids:
          type: array
          items:
            type: string
        priority:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
      required:
        - observation_id
        - athlete_id
        - category
        - summary
        - priority
        - status
        - created_at
      additionalProperties: true
    ObservationCreateResponse:
      type: object
      properties:
        observation_id:
          type: string
          format: uuid
        observation:
          $ref: '#/components/schemas/ObservationResponse'
      required:
        - observation_id
        - observation
    ObservationStatusResponse:
      type: object
      properties:
        observation_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [active, resolved, archived]
        updated_at:
          type: string
          format: date-time
      required:
        - observation_id
        - status
        - updated_at
    ObservationsList:
      type: object
      properties:
        athlete_id:
          type: string
        observations:
          type: array
          items:
            $ref: '#/components/schemas/Observation'
        count:
          type: integer
      required:
        - athlete_id
        - observations
        - count
    PhysiometricSnapshot:
      type: object
      description: Daily physiometrics snapshot aggregating body state from all sources (Withings, Intervals, Garmin). Version 3.0.0 uses exclusive ownership for all fields.
      properties:
        athlete_id:
          type: string
          description: Athlete identifier (partition key)
        effective_date:
          type: string
          format: date
          description: Effective date (YYYY-MM-DD) in athlete local timezone
        # Body composition (Withings exclusive)
        weight_kg:
          type: number
          description: Body weight in kg
          minimum: 0
        fat_mass_kg:
          type: number
          description: Fat mass in kg
          minimum: 0
        muscle_mass_kg:
          type: number
          description: Muscle mass in kg
          minimum: 0
        bone_mass_kg:
          type: number
          description: Bone mass in kg
          minimum: 0
        body_fat_pct:
          type: number
          description: Body fat percentage
          minimum: 0
          maximum: 100
        # Recovery metrics (Intervals exclusive)
        hrv_ln_rmssd:
          type: number
          description: HRV (natural log of RMSSD) for modeling
        sleep_duration_sec:
          type: number
          description: Sleep duration in seconds
          minimum: 0
        resting_hr_bpm:
          type: number
          description: Resting heart rate (Intervals exclusive; Garmin ignored)
          minimum: 0
        # Activity (Intervals exclusive)
        steps:
          type: integer
          description: Daily step count (Intervals exclusive; Garmin ignored)
          minimum: 0
        # Nutrition (Intervals exclusive)
        calories_kcal:
          type: number
          description: Daily calorie intake in kcal
          minimum: 0
        carbs_g:
          type: number
          description: Carbohydrate intake in grams
          minimum: 0
        protein_g:
          type: number
          description: Protein intake in grams
          minimum: 0
        fat_g:
          type: number
          description: Fat intake in grams
          minimum: 0
        # Performance baselines (Garmin exclusive)
        ftp_watts:
          type: number
          description: Functional threshold power in watts
          minimum: 0
        cycling_vo2max_ml_kg_min:
          type: number
          description: Estimated cycling VO2Max in ml/kg/min
          minimum: 0
        hr_lthr_bpm:
          type: number
          description: Lactate threshold heart rate in beats/minute
          minimum: 0
        hr_max_bpm:
          type: number
          description: Maximum heart rate in beats/minute
          minimum: 0
        # Training state (Garmin exclusive)
        training_load:
          type: number
          description: Garmin cumulative training load
          minimum: 0
        recovery_time_minutes:
          type: integer
          description: Garmin estimated recovery time in minutes
          minimum: 0
        readiness_score:
          type: number
          description: Garmin readiness score (0-100)
          minimum: 0
          maximum: 100
        # Extended training metrics (Garmin exclusive)
        training_effect_aerobic:
          type: number
          description: Garmin aerobic training effect (0-5)
          minimum: 0
          maximum: 5
        training_effect_anaerobic:
          type: number
          description: Garmin anaerobic training effect (0-5)
          minimum: 0
          maximum: 5
        training_stress_score:
          type: number
          description: Garmin training stress score
          minimum: 0
        training_stress_balance:
          type: number
          description: Garmin training stress balance
        atp_probability:
          type: number
          description: Garmin ATP/energy availability percentage
          minimum: 0
          maximum: 100
        # Provenance and versioning
        data_sources:
          type: string
          description: "CSV of sources: withings,garmin,intervals"
          default: ""
        canonical_version:
          type: string
          description: Schema version (3.0.0 = simplified MVP)
          default: "3.0.0"
        last_updated_utc:
          type: string
          format: date-time
          description: When this snapshot was canonicalized
      required:
        - athlete_id
        - effective_date
    PhysiometricHistory:
      type: object
      properties:
        athlete_id:
          type: string
        query_window:
          type: object
          properties:
            start_date:
              type: string
              format: date
            end_date:
              type: string
              format: date
            days:
              type: integer
        count:
          type: integer
        data_points:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    TrainingStateSnapshot:
      type: object
      description: Daily training state snapshot computed from workouts and physiometrics. All metrics are derived and idempotent; safe to recompute any time.
      properties:
        athlete_id:
          type: string
          description: Athlete identifier (partition key)
        effective_date:
          type: string
          format: date
          description: Effective date (YYYY-MM-DD) in athlete local timezone
        cts_rolling_7d:
          type: number
          description: Chronic training stress (7 days)
          minimum: 0
        cts_rolling_28d:
          type: number
          description: Chronic training stress (28 days)
          minimum: 0
        ats_rolling:
          type: number
          description: Acute training stress (7 days)
          minimum: 0
        fatigue_index:
          type: number
          description: Fatigue index (ATS / CTS; higher = more fatigued)
        readiness_score:
          type: number
          description: Composite readiness (HRV + load + HR)
          minimum: 0
          maximum: 100
        garmin_readiness_score:
          type: number
          description: Garmin native readiness score
          minimum: 0
          maximum: 100
        mood:
          type: integer
          description: User-reported mood (1-5)
          minimum: 1
          maximum: 5
        soreness:
          type: integer
          description: User-reported soreness (1-5)
          minimum: 1
          maximum: 5
        pred_recovery_days:
          type: integer
          description: Predicted days to full recovery
          minimum: 0
        data_sources:
          type: string
          description: "CSV of sources: workouts,physiometrics,garmin"
          default: ""
        canonical_version:
          type: string
          description: Schema version of this snapshot
          default: "3.0.0"
        last_updated_utc:
          type: string
          format: date-time
          description: When snapshot was computed
      required:
        - athlete_id
        - effective_date
    UpdatePhysiometricRequest:
      type: object
      required:
        - athlete_id
      properties:
        athlete_id:
          type: string
        metric:
          type: string
          description: Single metric identifier to update
        value:
          type: number
          description: Value for the single metric update
        metrics:
          type: object
          description: Map of metric identifiers to values for bulk updates
          additionalProperties:
            type: number
        effective_date:
          type: string
          format: date
        source:
          type: string
          description: Source of the data (e.g., chatgpt)
    UpdatePhysiometricResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        athlete_id:
          type: string
        metric:
          type: string
        value:
          type: number
        effective_date:
          type: string
          format: date
        source:
          type: string
        updated_at_utc:
          type: string
          format: date-time
        updates:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    WithingsAuthorizeResponse:
      type: object
      properties:
        authorization_url:
          type: string
          format: uri
        instructions:
          type: string
        athlete_id:
          type: string
    WithingsWebhookPayload:
      type: object
      properties:
        userid:
          type: string
        appli:
          type: string
          description: Notification type (1 = weight)
        startdate:
          type: string
          description: Unix timestamp
        enddate:
          type: string
          description: Unix timestamp
      required:
        - userid
        - appli
        - startdate
        - enddate
    RecalculatedWorkoutResponse:
      type: object
      properties:
        message:
          type: string
          example: Not implemented
        workout_id:
          type: string
        physiometrics_override:
          type: object
          additionalProperties: true
    ConfigSnapshot:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        heart_rate:
          type: object
          properties:
            basis:
              type: string
            lthr_bpm:
              type: integer
            hr_max_bpm:
              type: integer
            resting_hr_bpm:
              type: integer
        power:
          type: object
          properties:
            ftp_watts:
              type: integer
    ConfigUpdateRequest:
      type: object
      properties:
        heart_rate:
          type: object
          additionalProperties: true
        power:
          type: object
          additionalProperties: true
      required:
        - heart_rate
        - power
    ConfigUpdateResponse:
      allOf:
        - $ref: '#/components/schemas/ConfigSnapshot'
        - type: object
          properties:
            updated_at_utc:
              type: string
    ConfigHistoryResponse:
      type: object
      properties:
        status:
          type: string
        count:
          type: integer
        history:
          type: array
          items:
            type: object
            properties:
              updated_at_utc:
                type: string
              heart_rate:
                type: object
                additionalProperties: true
              power:
                type: object
                additionalProperties: true
    PlanningContext:
      type: object
      description: Aggregated planning context for the athlete.
      properties:
        athlete_id:
          type: string
        query_window:
          type: object
        recent_workouts:
          type: array
          items:
            type: object
        weekly_rollups:
          type: array
          items:
            type: object
        summary:
          type: object
        notable_flags:
          type: array
          items:
            type: string
      additionalProperties: true
    WorkoutsList:
      type: object
      properties:
        athlete_id:
          type: string
        count:
          type: integer
        workouts:
          type: array
          items:
            $ref: '#/components/schemas/WorkoutSummary'
    WorkoutSummary:
      type: object
      properties:
        workout_id:
          type: string
        athlete_id:
          type: string
        sport:
          type: string
        sub_sport:
          type: string
        workout_name:
          type: string
        is_indoor:
          type: boolean
        device_name:
          type: string
        start_time_utc:
          type: string
          format: date-time
        local_tz_offset:
          type: string
          description: Local wall-clock UTC offset for client display formatting (for example `UTC-05:00`).
        timezone:
          type: string
          description: IANA timezone name when available (for example `America/New_York`), otherwise falls back to UTC offset.
        duration_sec:
          type: number
        moving_time_sec:
          type: number
        distance_m:
          type: number
        elevation_gain_m:
          type: number
        calories_kcal:
          type: number
        hr_avg_bpm:
          type: number
        hr_max_bpm:
          type: number
        hr_z1_sec:
          type: number
        hr_z2_sec:
          type: number
        hr_z3_sec:
          type: number
        hr_z4_sec:
          type: number
        hr_z5_sec:
          type: number
        hr_zone_basis:
          type: string
        hr_zone_reference_bpm:
          type: number
        pwr_avg_watts:
          type: number
        pwr_max_watts:
          type: number
        pwr_normalized_watts:
          type: number
        pwr_variability_index:
          type: number
        pwr_z1_sec:
          type: number
        pwr_z2_sec:
          type: number
        pwr_z3_sec:
          type: number
        pwr_z4_sec:
          type: number
        pwr_z5_sec:
          type: number
        pwr_z6_sec:
          type: number
        pwr_z7_sec:
          type: number
        low_aerobic_sec:
          type: number
        intensity_sec:
          type: number
        ftp_watts:
          type: number
        intensity_factor:
          type: number
        tss:
          type: number
        decoupling_pct:
          type: number
        hr_drift_bpm:
          type: number
        ef_first_half:
          type: number
        ef_second_half:
          type: number
        ef_overall:
          type: number
        source_system:
          type: string
      additionalProperties: true
    WorkoutDetail:
      allOf:
        - $ref: '#/components/schemas/WorkoutSummary'
    WorkoutLapDetail:
      type: object
      properties:
        workout_id:
          type: string
        athlete_id:
          type: string
        lap_index:
          type: integer
        record_count:
          type: integer
        start_time:
          type: string
          format: date-time
        total_elapsed_time:
          type: number
        total_timer_time:
          type: number
        total_distance:
          type: number
        total_calories:
          type: number
        avg_heart_rate:
          type: number
        max_heart_rate:
          type: number
        avg_power:
          type: number
        max_power:
          type: number
        avg_cadence:
          type: number
        max_cadence:
          type: number
        records:
          type: array
          items:
            type: object
            properties:
              record_index:
                type: integer
              heart_rate:
                type: integer
              power:
                type: integer
              cadence:
                type: integer
              position_lat:
                type: number
              position_long:
                type: number
    WeeklyRollups:
      type: object
      properties:
        athlete_id:
          type: string
        weeks:
          type: integer
        count:
          type: integer
        rollups:
          type: array
          items:
            type: object
            properties:
              week_start_utc:
                type: string
                format: date-time
              week_end_utc:
                type: string
                format: date-time
              workouts_count:
                type: integer
              total_duration_min:
                type: number
              total_distance_km:
                type: number
              total_elev_m:
                type: number
              total_hr_z2_min:
                type: number
              total_pwr_z2_min:
                type: number
              total_low_aerobic_min:
                type: number
              total_intensity_min:
                type: number
              avg_decoupling_pct:
                type: number
              hard_days_count:
                type: integer
              long_rides_count:
                type: integer
              last_updated_at_utc:
                type: string
                format: date-time
    ZoneDistribution:
      type: object
      description: |
        Time-in-zone distribution computed at read-time from canonical workout records.
        Zones are calculated using athlete's current physiometric configuration (FTP, LTHR).
        Aggregates across all workouts in the query window.
      properties:
        athlete_id:
          type: string
          description: Athlete identifier
        query_window:
          type: object
          properties:
            start_date:
              type: string
              format: date-time
            end_date:
              type: string
              format: date-time
            days:
              type: integer
        total_minutes:
          type: number
          description: Total time across all zones
        zones:
          type: object
          description: Time spent in each zone (minutes)
          properties:
            z1:
              type: number
              description: Zone 1 minutes (low aerobic)
            z2:
              type: number
              description: Zone 2 minutes (aerobic base)
            z3:
              type: number
              description: Zone 3 minutes (tempo)
            z4:
              type: number
              description: Zone 4 minutes (threshold)
            z5:
              type: number
              description: Zone 5 minutes (VO2max/anaerobic)
        percentages:
          type: object
          description: Zone distribution as percentages (sum to 100)
          properties:
            z1:
              type: number
            z2:
              type: number
            z3:
              type: number
            z4:
              type: number
            z5:
              type: number
      required:
        - athlete_id
        - zones
        - total_minutes
    EfficiencyTrends:
      type: object
      description: |
        Aerobic efficiency and decoupling trends computed from canonical workout records.
        Decoupling measures cardiac drift (HR increase relative to power/pace) indicating aerobic fatigue.
        Efficiency factor (EF) is normalized power divided by average HR.
      properties:
        athlete_id:
          type: string
          description: Athlete identifier
        query_window:
          type: object
          properties:
            start_date:
              type: string
              format: date-time
            end_date:
              type: string
              format: date-time
            days:
              type: integer
        samples:
          type: array
          description: Per-workout efficiency metrics
          items:
            type: object
            properties:
              workout_id:
                type: string
              start_time_utc:
                type: string
                format: date-time
              sport:
                type: string
              duration_min:
                type: number
              decoupling_pct:
                type: number
                description: Aerobic decoupling % (positive = efficiency declined over workout, negative = efficiency improved)
              hr_drift_bpm:
                type: number
                description: Absolute HR drift in beats per minute
              ef_overall:
                type: number
                description: Overall efficiency factor (watts/bpm or m/min/bpm)
              ef_first_half:
                type: number
              ef_second_half:
                type: number
        summary:
          type: object
          properties:
            total_samples:
              type: integer
            avg_decoupling:
              type: number
              description: Average decoupling across all workouts
      required:
        - athlete_id
        - samples
  securitySchemes:
    FunctionKey:
      type: apiKey
      in: query
      name: code
      description: Azure Functions API key passed as `?code=...`
