openapi: 3.1.0
info:
  title: Health Assistant API (Operations)
  version: "1.0.0"
  description: |
    Operational and admin endpoints for Health Assistant.
    Includes ingestion, config, integrations, and plugin assets.
servers:
  - url: https://health.azure.barrimond.net
    description: Azure Functions host
paths:
  /api/health:
    get:
      summary: Health check with dependency status
      operationId: healthCheck
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        '503':
          description: Service is degraded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
  /api/agent/preferences:
    get:
      summary: Get user preferences for agent
      operationId: getAgentPreferences
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
      responses:
        '200':
          description: User preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPreferencesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      summary: Update user preferences
      operationId: updateAgentPreferences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePreferencesRequest'
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Preferences updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPreferencesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/agent/observations:
    get:
      summary: List training observations
      operationId: listAgentObservations
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
        - name: status
          in: query
          required: false
          description: Filter by status
          schema:
            type: string
            enum: [active, resolved, archived, all]
            default: active
        - name: limit
          in: query
          required: false
          description: Maximum number of observations
          schema:
            type: integer
            default: 20
            maximum: 100
      responses:
        '200':
          description: List of observations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObservationsList'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      summary: Add new training observation
      operationId: addAgentObservation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateObservationRequest'
      security:
        - FunctionKey: []
      responses:
        '201':
          description: Observation created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObservationCreateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/agent/observations/{observation_id}:
    patch:
      summary: Update observation status
      operationId: updateAgentObservation
      parameters:
        - name: observation_id
          in: path
          required: true
          description: Observation UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                athlete_id:
                  type: string
                status:
                  type: string
                  enum: [active, resolved, archived]
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Observation updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObservationStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/physiometrics/update:
    post:
      summary: Update physiometric values
      operationId: updatePhysiometrics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePhysiometricRequest'
            examples:
              singleMetric:
                summary: Single metric update
                value:
                  athlete_id: rob
                  metric: cycling_vo2max_ml_kg_min
                  value: 52.3
                  effective_date: 2026-01-19
                  source: chatgpt
              bulkUpdate:
                summary: Bulk metric update
                value:
                  athlete_id: rob
                  metrics:
                    weight_kg: 75.2
                    cycling_vo2max_ml_kg_min: 52.3
                  effective_date: 2026-01-19
                  source: chatgpt
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Update accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePhysiometricResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/logo.svg:
    get:
      summary: Retrieve the Health Assistant logo
      operationId: getLogo
      responses:
        '200':
          description: SVG logo asset
          content:
            image/svg+xml:
              schema:
                type: string
  /api/.well-known/ai-plugin.json:
    get:
      summary: Retrieve the ChatGPT plugin manifest
      operationId: getPluginManifest
      responses:
        '200':
          description: Plugin manifest JSON
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: Name of the plugin
                  description:
                    type: string
                    description: Description of the plugin
                  version:
                    type: string
                    description: Version of the plugin
                  endpoints:
                    type: array
                    description: List of available endpoints
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Endpoint path
                        method:
                          type: string
                          description: HTTP method
                        description:
                          type: string
                          description: Description of the endpoint
                required:
                  - name
                  - description
                  - version
                  - endpoints
  /api/openapi.yaml:
    get:
      summary: Retrieve the OpenAPI specification
      operationId: getOpenApiSpec
      responses:
        '200':
          description: OpenAPI YAML document
          content:
            application/x-yaml:
              schema:
                type: string
  /api/withings/authorize:
    get:
      summary: Get Withings authorization URL
      operationId: withingsAuthorize
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Authorization URL to open in browser
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithingsAuthorizeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/withings/callback:
    get:
      summary: Handle Withings OAuth callback
      operationId: withingsCallback
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success HTML message
          content:
            text/html:
              schema:
                type: string
        '400':
          description: Missing or invalid code/state
          content:
            text/html:
              schema:
                type: string
        '500':
          description: Server error completing OAuth
          content:
            text/html:
              schema:
                type: string
  /api/withings/webhook:
    post:
      summary: Receive Withings webhook notifications
      operationId: withingsWebhook
      security:
        - FunctionKey: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/WithingsWebhookPayload'
      responses:
        '200':
          description: Acknowledged (weight notifications only processed)
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Missing required fields
          content:
            text/plain:
              schema:
                type: string
  /api/workouts/{workout_id}/recalculated:
    get:
      summary: Get recalculated workout zones (read-only)
      operationId: getWorkoutRecalculated
      security:
        - FunctionKey: []
      parameters:
        - name: workout_id
          in: path
          required: true
          schema:
            type: string
        - name: ftp_watts
          in: query
          required: false
          schema:
            type: number
            format: float
        - name: lthr_bpm
          in: query
          required: false
          schema:
            type: number
            format: float
      responses:
        '501':
          description: Placeholder response for recalculated zones
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecalculatedWorkoutResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/config/reload:
    post:
      summary: Reload physiometrics configuration from disk
      operationId: reloadConfig
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Configuration reloaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigSnapshot'
        '404':
          description: Physiometrics file not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/config/update:
    post:
      summary: Update physiometrics configuration
      operationId: updateConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigUpdateRequest'
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Configuration saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/config/history:
    get:
      summary: Get physiometrics configuration change history
      operationId: configHistory
      security:
        - FunctionKey: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
            maximum: 50
      responses:
        '200':
          description: Configuration history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigHistoryResponse'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/process_fit:
    post:
      summary: Ingest a FIT file payload from OneDrive or other sources
      operationId: processFit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessFitRequest'
      security:
        - FunctionKey: []
      responses:
        '201':
          description: Workout ingested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessFitResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/onedrive/authorize:
    get:
      summary: Generate OneDrive OAuth authorization URL
      operationId: onedriveAuthorize
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Authorization URL payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  authorization_url:
                    type: string
                  athlete_id:
                    type: string
                  state:
                    type: string
        '500':
          $ref: '#/components/responses/InternalError'
  /api/onedrive/callback:
    get:
      summary: OneDrive OAuth callback
      operationId: onedriveCallback
      responses:
        '200':
          description: Authorization success
          content:
            text/html:
              schema:
                type: string
        '400':
          description: Missing authorization code
          content:
            text/plain:
              schema:
                type: string
        '500':
          $ref: '#/components/responses/InternalError'
  /api/onedrive/sync:
    post:
      summary: Sync OneDrive folder and ingest FIT files
      operationId: onedriveSync
      security:
        - FunctionKey: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                athlete_id:
                  type: string
                days:
                  type: integer
                async:
                  type: boolean
      responses:
        '202':
          description: Sync queued (async)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  athlete_id:
                    type: string
                  lookback_days:
                    type: integer
                  folder_path:
                    type: string
                  mode:
                    type: string
                  queued_at_utc:
                    type: string
        '200':
          description: Sync results
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  athlete_id:
                    type: string
                  scanned:
                    type: integer
                  ingested:
                    type: integer
                  skipped:
                    type: integer
                  failed:
                    type: integer
        '500':
          $ref: '#/components/responses/InternalError'
components:
  parameters:
    AthleteId:
      name: athlete_id
      in: query
      required: true
      description: Athlete identifier
      schema:
        type: string
    AthleteIdOptional:
      name: athlete_id
      in: query
      required: false
      description: Athlete identifier (optional; falls back to DEFAULT_ATHLETE_ID)
      schema:
        type: string
  responses:
    BadRequest:
      description: Invalid input
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    HealthStatus:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded]
          description: Overall health status
        timestamp:
          type: string
          format: date-time
          description: ISO8601 timestamp of the health check
        storage:
          type: string
          enum: [ok, degraded]
          description: Table storage connectivity status
      required:
        - status
        - timestamp
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: athlete_id required
    AgentContext:
      type: object
      properties:
        athlete_id:
          type: string
        preferences:
          type: object
          additionalProperties: true
        active_observations:
          type: array
          items:
            $ref: '#/components/schemas/Observation'
        instruction_addendum:
          type:
            - string
            - 'null'
        retrieved_at:
          type: string
          format: date-time
      required:
        - athlete_id
        - preferences
        - active_observations
    AgentPreferences:
      type: object
      properties:
        current_goal:
          type: string
          description: Current training goal
        training_phase:
          type: string
          description: Training phase (base, build, peak, recovery)
        preferred_sports:
          type: array
          items:
            type: string
          description: Active sports/disciplines
        ftp_test_frequency_weeks:
          type: integer
          description: How often to test FTP (weeks)
        last_ftp_test_date:
          type: string
          format: date
          description: ISO date of last FTP test
        notes:
          type: string
          description: Free-form context notes
        updated_at:
          type: string
          format: date-time
    AgentPreferencesResponse:
      type: object
      properties:
        athlete_id:
          type: string
        preferences:
          type: object
          additionalProperties: true
        updated_at:
          type: string
          format: date-time
      required:
        - athlete_id
        - preferences
    UpdatePreferencesRequest:
      type: object
      properties:
        athlete_id:
          type: string
          default: rob
        current_goal:
          type: string
        training_phase:
          type: string
        preferred_sports:
          type: array
          items:
            type: string
        ftp_test_frequency_weeks:
          type: integer
        last_ftp_test_date:
          type: string
          format: date
        notes:
          type: string
    Observation:
      type: object
      properties:
        observation_id:
          type: string
          format: uuid
        category:
          type: string
        summary:
          type: string
        details:
          type: string
        referenced_workout_ids:
          type: array
          items:
            type: string
        priority:
          type: string
          enum: [low, normal, high]
        status:
          type: string
          enum: [active, resolved, archived]
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
      required:
        - observation_id
        - category
        - summary
        - priority
        - status
        - created_at
    CreateObservationRequest:
      type: object
      required:
        - category
        - summary
      properties:
        athlete_id:
          type: string
          default: rob
        category:
          type: string
        summary:
          type: string
        details:
          type: string
        workout_ids:
          type: array
          items:
            type: string
        priority:
          type: string
          enum: [low, normal, high]
        expires_days:
          type: integer
          minimum: 1
    ObservationResponse:
      type: object
      properties:
        observation_id:
          type: string
          format: uuid
        athlete_id:
          type: string
        category:
          type: string
        summary:
          type: string
        details:
          type: string
        referenced_workout_ids:
          type: array
          items:
            type: string
        priority:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
      required:
        - observation_id
        - athlete_id
        - category
        - summary
        - priority
        - status
        - created_at
      additionalProperties: true
    ObservationCreateResponse:
      type: object
      properties:
        observation_id:
          type: string
          format: uuid
        observation:
          $ref: '#/components/schemas/ObservationResponse'
      required:
        - observation_id
        - observation
    ObservationStatusResponse:
      type: object
      properties:
        observation_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [active, resolved, archived]
        updated_at:
          type: string
          format: date-time
      required:
        - observation_id
        - status
        - updated_at
    ObservationsList:
      type: object
      properties:
        athlete_id:
          type: string
        observations:
          type: array
          items:
            $ref: '#/components/schemas/Observation'
        count:
          type: integer
      required:
        - athlete_id
        - observations
        - count
    PhysiometricSnapshot:
      type: object
      description: Key-value map of the latest physiometric metrics for the athlete.
      properties:
        athlete_id:
          type: string
        heart_rate:
          type: object
        power:
          type: object
        weight_kg:
          type: number
      additionalProperties:
        oneOf:
          - type: number
          - type: string
          - type: object
    PhysiometricHistory:
      type: object
      properties:
        athlete_id:
          type: string
        query_window:
          type: object
          properties:
            start_date:
              type: string
              format: date
            end_date:
              type: string
              format: date
            days:
              type: integer
        count:
          type: integer
        data_points:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    UpdatePhysiometricRequest:
      type: object
      required:
        - athlete_id
      properties:
        athlete_id:
          type: string
        metric:
          type: string
          description: Single metric identifier to update
        value:
          type: number
          description: Value for the single metric update
        metrics:
          type: object
          description: Map of metric identifiers to values for bulk updates
          additionalProperties:
            type: number
        effective_date:
          type: string
          format: date
        source:
          type: string
          description: Source of the data (e.g., chatgpt)
    UpdatePhysiometricResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        athlete_id:
          type: string
        metric:
          type: string
        value:
          type: number
        effective_date:
          type: string
          format: date
        source:
          type: string
        updated_at_utc:
          type: string
          format: date-time
        updates:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    WithingsAuthorizeResponse:
      type: object
      properties:
        authorization_url:
          type: string
          format: uri
        instructions:
          type: string
        athlete_id:
          type: string
    WithingsWebhookPayload:
      type: object
      properties:
        userid:
          type: string
        appli:
          type: string
          description: Notification type (1 = weight)
        startdate:
          type: string
          description: Unix timestamp
        enddate:
          type: string
          description: Unix timestamp
      required:
        - userid
        - appli
        - startdate
        - enddate
    RecalculatedWorkoutResponse:
      type: object
      properties:
        message:
          type: string
          example: Not implemented
        workout_id:
          type: string
        physiometrics_override:
          type: object
          additionalProperties: true
    ConfigSnapshot:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        heart_rate:
          type: object
          properties:
            basis:
              type: string
            lthr_bpm:
              type: integer
            hr_max_bpm:
              type: integer
            resting_hr_bpm:
              type: integer
        power:
          type: object
          properties:
            ftp_watts:
              type: integer
    ConfigUpdateRequest:
      type: object
      properties:
        heart_rate:
          type: object
          additionalProperties: true
        power:
          type: object
          additionalProperties: true
      required:
        - heart_rate
        - power
    ConfigUpdateResponse:
      allOf:
        - $ref: '#/components/schemas/ConfigSnapshot'
        - type: object
          properties:
            updated_at_utc:
              type: string
    ConfigHistoryResponse:
      type: object
      properties:
        status:
          type: string
        count:
          type: integer
        history:
          type: array
          items:
            type: object
            properties:
              updated_at_utc:
                type: string
              heart_rate:
                type: object
                additionalProperties: true
              power:
                type: object
                additionalProperties: true
    ProcessFitRequest:
      type: object
      required:
        - athlete_id
        - source_file_name
        - file_content_b64
      properties:
        athlete_id:
          type: string
        source_system:
          type: string
        source_item_id:
          type: string
        source_file_name:
          type: string
        source_file_path:
          type: string
        source_drive_id:
          type: string
        source_etag:
          type: string
        source_ctag:
          type: string
        source_quickxor_hash:
          type: string
        source_modified_at_utc:
          type: string
          format: date-time
        file_content_b64:
          type: string
          description: Base64-encoded FIT file content
        file_size_bytes:
          type: integer
        file_sha256:
          type: string
    ProcessFitResponse:
      type: object
      description: Parsed FIT metrics with source metadata. Response fields mirror parsed metrics.
      properties:
        source_info:
          type: object
          properties:
            source_system:
              type: string
            source_file_name:
              type: string
            source_file_path:
              type: string
            source_item_id:
              type: string
            source_drive_id:
              type: string
            source_etag:
              type: string
            source_ctag:
              type: string
            source_quickxor_hash:
              type: string
            source_modified_at_utc:
              type: string
              format: date-time
            file_size_bytes:
              type: integer
            file_sha256:
              type: string
        error:
          type: string
      additionalProperties: true
    PlanningContext:
      type: object
      description: Aggregated planning context for the athlete.
      properties:
        athlete_id:
          type: string
        query_window:
          type: object
        recent_workouts:
          type: array
          items:
            type: object
        weekly_rollups:
          type: array
          items:
            type: object
        summary:
          type: object
        notable_flags:
          type: array
          items:
            type: string
      additionalProperties: true
    WorkoutsList:
      type: object
      properties:
        athlete_id:
          type: string
        count:
          type: integer
        workouts:
          type: array
          items:
            $ref: '#/components/schemas/WorkoutSummary'
    WorkoutSummary:
      type: object
      properties:
        workout_id:
          type: string
        athlete_id:
          type: string
        sport:
          type: string
        sub_sport:
          type: string
        workout_name:
          type: string
        is_indoor:
          type: boolean
        start_time_utc:
          type: string
          format: date-time
        end_time_utc:
          type: string
          format: date-time
        timezone:
          type: string
          description: Timezone name or UTC offset (e.g., `UTC-05:00`).
        duration_sec:
          type: number
        moving_time_sec:
          type: number
        distance_m:
          type: number
        elevation_gain_m:
          type: number
        calories_kcal:
          type: number
        hr_avg_bpm:
          type: number
        hr_max_bpm:
          type: number
        hr_z1_sec:
          type: number
        hr_z2_sec:
          type: number
        hr_z3_sec:
          type: number
        hr_z4_sec:
          type: number
        hr_z5_sec:
          type: number
        hr_zone_basis:
          type: string
        hr_zone_reference_bpm:
          type: number
        pwr_avg_watts:
          type: number
        pwr_max_watts:
          type: number
        pwr_normalized_watts:
          type: number
        pwr_variability_index:
          type: number
        pwr_z1_sec:
          type: number
        pwr_z2_sec:
          type: number
        pwr_z3_sec:
          type: number
        pwr_z4_sec:
          type: number
        pwr_z5_sec:
          type: number
        pwr_z6_sec:
          type: number
        pwr_z7_sec:
          type: number
        low_aerobic_sec:
          type: number
        intensity_sec:
          type: number
        ftp_watts:
          type: number
        intensity_factor:
          type: number
        tss:
          type: number
        decoupling_pct:
          type: number
        hr_drift_bpm:
          type: number
        ef_first_half:
          type: number
        ef_second_half:
          type: number
        ef_overall:
          type: number
        source_system:
          type: string
      additionalProperties: true
    WorkoutDetail:
      allOf:
        - $ref: '#/components/schemas/WorkoutSummary'
    WorkoutLapDetail:
      type: object
      properties:
        workout_id:
          type: string
        athlete_id:
          type: string
        lap_index:
          type: integer
        record_count:
          type: integer
        start_time:
          type: string
          format: date-time
        total_elapsed_time:
          type: number
        total_timer_time:
          type: number
        total_distance:
          type: number
        total_calories:
          type: number
        avg_heart_rate:
          type: number
        max_heart_rate:
          type: number
        avg_power:
          type: number
        max_power:
          type: number
        avg_cadence:
          type: number
        max_cadence:
          type: number
        records:
          type: array
          items:
            type: object
            properties:
              record_index:
                type: integer
              heart_rate:
                type: integer
              power:
                type: integer
              cadence:
                type: integer
              position_lat:
                type: number
              position_long:
                type: number
    WeeklyRollups:
      type: object
      properties:
        athlete_id:
          type: string
        weeks:
          type: integer
        count:
          type: integer
        rollups:
          type: array
          items:
            type: object
            additionalProperties: true
    ZoneDistribution:
      type: object
      description: Time-in-zone distribution.
      properties:
        athlete_id:
          type: string
        days:
          type: integer
        zones:
          type: object
      additionalProperties: true
    EfficiencyTrends:
      type: object
      description: Aerobic efficiency and decoupling trends.
      properties:
        athlete_id:
          type: string
        days:
          type: integer
        trends:
          type: array
          items:
            type: object
      additionalProperties: true
  securitySchemes:
    FunctionKey:
      type: apiKey
      in: query
      name: code
      description: Azure Functions API key passed as `?code=...`
