openapi: 3.1.0
info:
  title: Health Assistant API (Operations)
  version: "4.7.0"
  description: |
    Operational and administrative API for ingestion, configuration, integrations, and plugin assets.
    Complements the semantic GPT-facing specification with platform control-plane and runtime support endpoints.

    This specification documents the current operations contract. For release history and change chronology, see `docs/CHANGELOG.md`.
servers:
  - url: https://health.azure.barrimond.net
    description: Azure Functions host
paths:
  /api/health:
    get:
      summary: Health check with dependency status
      operationId: healthCheck
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        '503':
          description: Service is degraded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
  /api/physiometrics/update:
    post:
      summary: Update physiometric values
      operationId: updatePhysiometrics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePhysiometricRequest'
            examples:
              singleMetric:
                summary: Single metric update
                value:
                  athlete_id: rob
                  metric: cycling_vo2max_ml_kg_min
                  value: 52.3
                  effective_date: 2026-01-19
                  source: chatgpt
              bulkUpdate:
                summary: Bulk metric update
                value:
                  athlete_id: rob
                  metrics:
                    weight_kg: 75.2
                    cycling_vo2max_ml_kg_min: 52.3
                  effective_date: 2026-01-19
                  source: chatgpt
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Update accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePhysiometricResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/training-state/current:
    get:
      summary: Get current training state
      operationId: getCurrentTrainingState
      description: Computes on-demand training state projection from recent workouts and current physiometrics. Includes TSS, training load, recovery metrics, and readiness signals.
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Current training state snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingStateSnapshot'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/training-state/history:
    get:
      summary: Get training state time series
      operationId: getTrainingStateHistory
      description: Computes historical training state projections. Each snapshot reflects training load, recovery, and readiness at that point in time.
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
        - name: days
          in: query
          required: false
          description: Days to look back (default 90, max 365)
          schema:
            type: integer
            format: int32
            default: 90
            maximum: 365
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Time-series training state data
          content:
            application/json:
              schema:
                type: object
                properties:
                  athlete_id:
                    type: string
                  days:
                    type: integer
                  snapshots:
                    type: array
                    items:
                      $ref: '#/components/schemas/TrainingStateSnapshot'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/operations/rollups/weekly/compute:
    post:
      summary: Force previous-week weekly rollup computation
      operationId: forceWeeklyRollups
      description: Computes and persists the previous completed local week rollup for one or more athletes.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForceWeeklyRollupsRequest'
            examples:
              singleAthlete:
                summary: Force rollup for one athlete
                value:
                  athlete_id: rob
              multipleAthletes:
                summary: Force rollup for selected athletes
                value:
                  athlete_ids:
                    - rob
                    - sam
              allAthletes:
                summary: Force rollup for all athletes with workouts
                value:
                  all_athletes: true
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Rollups computed successfully (may include skipped athletes)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForceWeeklyRollupsResponse'
        '207':
          description: Partial success (one or more athletes failed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ForceWeeklyRollupsResponse'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/async/operations/status:
    get:
      summary: Retrieve async ingestion operation status
      operationId: getAsyncOperationStatus
      description: Returns persisted lifecycle state for an async ingestion operation.
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
        - name: operation_id
          in: query
          required: true
          description: Async operation identifier returned by async sync requests.
          schema:
            type: string
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Operation state found
          content:
            application/json:
              schema:
                type: object
                properties:
                  athlete_id:
                    type: string
                  operation_id:
                    type: string
                  source:
                    type: string
                  lookback_days:
                    type: integer
                  status:
                    type: string
                  mode:
                    type: string
                  queued_at_utc:
                    type: string
                  created_at_utc:
                    type: string
                  updated_at_utc:
                    type: string
                  request_id:
                    type:
                      - string
                      - 'null'
                  correlation_id:
                    type:
                      - string
                      - 'null'
                  context:
                    type: object
                    additionalProperties: true
                  result:
                    type: object
                    additionalProperties: true
                  error:
                    type:
                      - string
                      - 'null'
                    description: Present only when operation status is failed.
                  error_code:
                    type: string
                    description: Present only when operation status is failed.
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Operation not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  athlete_id:
                    type: string
                  operation_id:
                    type: string
  /api/logo.svg:
    get:
      summary: Retrieve the Health Assistant logo
      operationId: getLogo
      responses:
        '200':
          description: SVG logo asset
          content:
            image/svg+xml:
              schema:
                type: string
  /api/.well-known/ai-plugin.json:
    get:
      summary: Retrieve the ChatGPT plugin manifest
      operationId: getPluginManifest
      responses:
        '200':
          description: Plugin manifest JSON
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: Name of the plugin
                  description:
                    type: string
                    description: Description of the plugin
                  version:
                    type: string
                    description: Version of the plugin
                  endpoints:
                    type: array
                    description: List of available endpoints
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Endpoint path
                        method:
                          type: string
                          description: HTTP method
                        description:
                          type: string
                          description: Description of the endpoint
                required:
                  - name
                  - description
                  - version
                  - endpoints
  /api/openapi.yaml:
    get:
      summary: Retrieve the OpenAPI specification
      operationId: getOpenApiSpec
      responses:
        '200':
          description: OpenAPI YAML document
          content:
            application/x-yaml:
              schema:
                type: string
  /api/withings/authorize:
    get:
      summary: Get Withings authorization URL
      operationId: withingsAuthorize
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Authorization URL to open in browser
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithingsAuthorizeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/withings/callback:
    get:
      summary: Handle Withings OAuth callback
      operationId: withingsCallback
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success HTML message. OAuth token exchange/storage succeeded; webhook subscription warnings may be included in the HTML body.
          content:
            text/html:
              schema:
                type: string
        '400':
          description: Missing or invalid code/state
          content:
            text/html:
              schema:
                type: string
        '500':
          description: Server error completing OAuth token exchange or token persistence
          content:
            text/html:
              schema:
                type: string
  /api/withings/webhook:
    get:
      summary: Receive Withings webhook notifications
      operationId: withingsWebhookGet
      security:
        - FunctionKey: []
      parameters:
        - name: userid
          in: query
          required: false
          schema:
            type: string
        - name: appli
          in: query
          required: false
          schema:
            type: string
        - name: startdate
          in: query
          required: false
          schema:
            type: string
        - name: enddate
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Acknowledged after normalizing webhook fields from query parameters
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Missing required fields
          content:
            text/plain:
              schema:
                type: string
    post:
      summary: Receive Withings webhook notifications
      operationId: withingsWebhook
      security:
        - FunctionKey: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/WithingsWebhookPayload'
      responses:
        '200':
          description: Acknowledged after normalizing webhook fields from form payload
          content:
            text/plain:
              schema:
                type: string
        '400':
          description: Missing required fields
          content:
            text/plain:
              schema:
                type: string
  /api/workouts/{workout_id}/recalculated:
    get:
      summary: Get recalculated workout zones (read-only)
      operationId: getWorkoutRecalculated
      security:
        - FunctionKey: []
      parameters:
        - name: workout_id
          in: path
          required: true
          schema:
            type: string
        - name: ftp_watts
          in: query
          required: false
          schema:
            type: number
            format: float
        - name: lthr_bpm
          in: query
          required: false
          schema:
            type: number
            format: float
      responses:
        '501':
          description: Placeholder response for recalculated zones
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecalculatedWorkoutResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/config/update:
    post:
      summary: Update physiometrics configuration
      operationId: updateConfig
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigUpdateRequest'
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Configuration saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigUpdateResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/config/history:
    get:
      summary: Get physiometrics configuration change history
      operationId: configHistory
      security:
        - FunctionKey: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 10
            maximum: 50
      responses:
        '200':
          description: Configuration history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfigHistoryResponse'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/process_fit:
    post:
      summary: Ingest a FIT file payload from OneDrive or other sources
      operationId: processFit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessFitRequest'
      security:
        - FunctionKey: []
      responses:
        '201':
          description: Workout ingested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessFitResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/onedrive/authorize:
    get:
      summary: Generate OneDrive OAuth authorization URL
      operationId: onedriveAuthorize
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Authorization URL payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  authorization_url:
                    type: string
                  athlete_id:
                    type: string
                  state:
                    type: string
        '500':
          $ref: '#/components/responses/InternalError'
  /api/onedrive/callback:
    get:
      summary: OneDrive OAuth callback
      operationId: onedriveCallback
      responses:
        '200':
          description: Authorization success
          content:
            text/html:
              schema:
                type: string
        '400':
          description: Missing authorization code
          content:
            text/plain:
              schema:
                type: string
        '500':
          $ref: '#/components/responses/InternalError'
  /api/onedrive/sync:
    post:
      summary: Sync OneDrive folder and ingest FIT files
      operationId: onedriveSync
      security:
        - FunctionKey: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                athlete_id:
                  type: string
                lookback_days:
                  type: integer
                days:
                  type: integer
                force:
                  type: boolean
                  description: When true, bypass delta-token incremental listing and unchanged-content skip checks to force full reprocessing
                async:
                  type: boolean
      responses:
        '202':
          description: Sync queued (async)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  athlete_id:
                    type: string
                  lookback_days:
                    type: integer
                  force:
                    type: boolean
                  folder_path:
                    type: string
                  mode:
                    type: string
                  queued_at_utc:
                    type: string
        '200':
          description: Sync results
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  lookback_days:
                    type: integer
                  force:
                    type: boolean
                  found:
                    type: integer
                  athlete_id:
                    type: string
                  ingested:
                    type: integer
                  skipped:
                    type: integer
                  failed:
                    type: integer
        '500':
          $ref: '#/components/responses/InternalError'
  /api/onedrive/sync/reset:
    post:
      summary: Reset OneDrive delta cursor state
      operationId: onedriveSyncReset
      security:
        - FunctionKey: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                athlete_id:
                  type: string
                  description: Athlete identifier for single reset
                all:
                  type: boolean
                  description: When true, reset all athlete delta cursors
      responses:
        '200':
          description: Delta state reset completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  scope:
                    type: string
                    enum: [single, bulk]
                  athlete_id:
                    type: string
                  reset_count:
                    type: integer
                  reset_applied:
                    type: boolean
                  reset_at_utc:
                    type: string
                    format: date-time
        '400':
          description: Missing reset scope (athlete_id or all=true required)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
        '500':
          $ref: '#/components/responses/InternalError'
  /api/garmin/sync:
    post:
      summary: Sync Garmin Connect activities and ingest FIT files
      operationId: garminSync
      security:
        - FunctionKey: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                athlete_id:
                  type: string
                  description: Athlete identifier (optional, defaults to DEFAULT_ATHLETE_ID)
                lookback_days:
                  type: integer
                  description: Number of days to look back for activities (default 30)
                async:
                  type: boolean
                  description: Queue sync as background task (default false)
                force:
                  type: boolean
                  description: When true, bypass activity-id prefilter, unchanged-content skip, and near-duplicate suppression checks, forcing listed activities through reprocessing
      responses:
        '202':
          description: Sync queued (async mode)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: queued
                  athlete_id:
                    type: string
                  lookback_days:
                    type: integer
                  force:
                    type: boolean
        '200':
          description: Sync completed (sync mode)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  athlete_id:
                    type: string
                  lookback_days:
                    type: integer
                  force:
                    type: boolean
                  found:
                    type: integer
                    description: Total activities retrieved from Garmin
                  ingested:
                    type: integer
                    description: Successfully ingested FIT files
                  skipped:
                    type: integer
                    description: Total skipped activities (includes ID-prefilter and unchanged-content skips)
                  skipped_by_id:
                    type: integer
                    description: Activities skipped before FIT download due to previously seen activity_id
                  failed:
                    type: integer
                    description: Failed ingestions
                  errors:
                    type: array
                    items:
                      type: string
                  error_details:
                    type: array
                    items:
                      $ref: '#/components/schemas/OperationalErrorDetail'
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        activity_id:
                          type: string
                        activity_name:
                          type: string
                        status:
                          type: string
                          description: One of success, skipped, skipped_duplicate, skipped_seen_id, or error
                        workout_id:
                          type: [ string, "null" ]
        '401':
          description: Authentication failed - check GARMIN_EMAIL and GARMIN_PASSWORD
        '500':
          $ref: '#/components/responses/InternalError'
  /api/intervals/sync:
    post:
      summary: Sync Intervals.icu wellness data (HRV, resting HR, sleep, nutrition, SpO2)
      operationId: intervalsSync
      description: |
        Fetch wellness records from Intervals.icu API using HTTP Basic authentication.
        Wellness endpoint consolidates HRV (RMSSD + SDNN), resting heart rate, sleep duration,
        activity and nutrition metrics, plus SpO2. Intervals weight/body-fat values are accepted
        as fallback when Withings body composition data is unavailable.
        Requires INTERVALS_API_KEY (stored in Key Vault) and INTERVALS_ATHLETE_ID.
      security:
        - FunctionKey: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                athlete_id:
                  type: string
                  description: Athlete identifier (optional, defaults to DEFAULT_ATHLETE_ID or INTERVALS_ATHLETE_ID env var)
                lookback_days:
                  type: integer
                  description: Number of days to look back for wellness records (default 30)
                force:
                  type: boolean
                  description: Reserved parity flag for sync endpoints; accepted and echoed in response
            examples:
              basicSync:
                summary: Default sync (30 days)
                value:
                  athlete_id: rob
              customLookback:
                summary: Custom lookback period
                value:
                  athlete_id: rob
                  lookback_days: 60
      responses:
        '200':
          description: Sync completed with no record-level failures
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  count:
                    type: integer
                    description: Successfully ingested wellness records
                  records_fetched:
                    type: integer
                  records_processed:
                    type: integer
                  records_failed:
                    type: integer
                  blob_name:
                    type: string
                    description: Archived raw payload blob path in external-sources container
                  errors:
                    type: array
                    items:
                      type: string
                  correlation_id:
                    type: string
                  operation:
                    type: string
                  source:
                    type: string
                  provider:
                    type: string
                  athlete_id:
                    type: string
                  error_details:
                    type: array
                    items:
                      $ref: '#/components/schemas/OperationalErrorDetail'
        '207':
          description: Sync completed with partial record-level failures
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  count:
                    type: integer
                    description: Successfully ingested wellness records
                  records_fetched:
                    type: integer
                  records_processed:
                    type: integer
                  records_failed:
                    type: integer
                  blob_name:
                    type: string
                    description: Archived raw payload blob path in external-sources container
                  errors:
                    type: array
                    items:
                      type: string
                  correlation_id:
                    type: string
                  operation:
                    type: string
                  source:
                    type: string
                  provider:
                    type: string
                  athlete_id:
                    type: string
                  error_details:
                    type: array
                    items:
                      $ref: '#/components/schemas/OperationalErrorDetail'
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication failed - check INTERVALS_API_KEY and INTERVALS_ATHLETE_ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Athlete not found in Intervals.icu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Intervals.icu API rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/garmin/physiometrics/sync:
    post:
      summary: Sync Garmin physiometrics data (user summary + training status)
      operationId: garminPhysiometricsSync
      description: |
        Fetch physiometrics data from Garmin Connect using user summary and training status endpoints.
        Retrieves daily metrics including cycling and running VO2Max, training load, training effect (aerobic/anaerobic),
        training stress score, ATP probability, recovery time, and lactate threshold heart rate.
        Requires Garmin Connect credentials (EMAIL and PASSWORD stored in Key Vault).
        Each fetched day is archived to the external-sources container.
        All errors (recoverable and fatal) are returned in unified `errors` array with `recoverable` flag.
      security:
        - FunctionKey: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                athlete_id:
                  type: string
                  description: Athlete identifier (optional, defaults to DEFAULT_ATHLETE_ID env var)
                lookback_days:
                  type: integer
                  description: Number of days to look back for physiometrics data (default 7)
                force:
                  type: boolean
                  description: When true, bypass stored-date prefilter and re-fetch all days in range
            examples:
              basicSync:
                summary: Default sync (7 days)
                value:
                  athlete_id: rob
              customLookback:
                summary: Custom lookback period
                value:
                  athlete_id: rob
                  lookback_days: 14
      responses:
        '200':
          description: Sync completed with no errors
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  count:
                    type: integer
                  records_processed:
                    type: integer
                    description: Successfully ingested physiometrics records (days with valid data)
                  records_fetched:
                    type: integer
                  records_skipped:
                    type: integer
                    description: Days skipped because physiometrics already existed for effective_date
                  records_failed:
                    type: integer
                  errors:
                    type: array
                    description: Array of error details (empty on 200 response)
                    items:
                      $ref: '#/components/schemas/OperationalErrorDetail'
                  correlation_id:
                    type: string
                  operation:
                    type: string
                  source:
                    type: string
                  provider:
                    type: string
                  athlete_id:
                    type: string
        '207':
          description: Sync completed with partial errors
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  count:
                    type: integer
                  records_processed:
                    type: integer
                  records_fetched:
                    type: integer
                  records_skipped:
                    type: integer
                    description: Days skipped because physiometrics already existed for effective_date
                  records_failed:
                    type: integer
                  errors:
                    type: array
                    description: Error details with recoverable flag indicating if error can be retried
                    items:
                      $ref: '#/components/schemas/OperationalErrorDetail'
                  correlation_id:
                    type: string
                  operation:
                    type: string
                  source:
                    type: string
                  provider:
                    type: string
                  athlete_id:
                    type: string
        '400':
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Authentication failed - check Garmin Connect credentials (EMAIL/PASSWORD in Key Vault)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  parameters:
    AthleteId:
      name: athlete_id
      in: query
      required: true
      description: Athlete identifier
      schema:
        type: string
    AthleteIdOptional:
      name: athlete_id
      in: query
      required: false
      description: Athlete identifier (optional; falls back to DEFAULT_ATHLETE_ID)
      schema:
        type: string
  responses:
    BadRequest:
      description: Invalid input
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    HealthStatus:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded]
          description: Overall health status
        timestamp:
          type: string
          format: date-time
          description: ISO8601 timestamp of the health check
        storage:
          type: string
          enum: [ok, degraded]
          description: Table storage connectivity status
      required:
        - status
        - timestamp
    ErrorResponse:
      type: object
      properties:
        status:
          type: string
          example: error
        error_code:
          type: string
          example: INTERNAL_SERVER_ERROR
        error:
          type: string
          example: athlete_id required
        message:
          type: string
          description: Optional legacy alias for the primary error message.
        correlation_id:
          type: string
          description: Request correlation identifier mirrored from response headers for troubleshooting.
        operation:
          type: string
          description: Internal operation name for the endpoint that produced the error.
        source:
          type: string
          description: Source system associated with the failed operation when available.
        provider:
          type: string
          description: External provider associated with the failed operation when available.
        athlete_id:
          type: string
          description: Athlete identifier associated with the failed request when available.
        resource_id:
          type: string
          description: Resource identifier associated with the failed request when available.
        error_details:
          type: array
          description: Per-error detail records for partial-success operational responses.
          items:
            $ref: '#/components/schemas/OperationalErrorDetail'
    OperationalErrorDetail:
      type: object
      properties:
        error_code:
          type: string
          example: OPERATIONAL_ERROR
        recoverable:
          type: boolean
          description: Whether the error is recoverable (true) or fatal (false)
          example: true
        message:
          type: string
          example: "2026-03-03: garmin unavailable"
        timestamp:
          type: string
          format: date-time
          example: "2026-03-03T00:00:00Z"
        correlation_id:
          type: string
        operation:
          type: string
        source:
          type: string
        provider:
          type: string
        athlete_id:
          type: string
        resource_id:
          type: string
    ForceWeeklyRollupsRequest:
      type: object
      properties:
        athlete_id:
          type: string
          description: Force rollup for a single athlete.
        athlete_ids:
          type: array
          description: Force rollups for a list of athletes.
          items:
            type: string
        weeks:
          type: integer
          default: 1
          minimum: 1
          maximum: 52
          description: Number of completed prior local weeks to compute per athlete.
        all_athletes:
          type: boolean
          default: false
          description: When true, compute rollups for all athletes detected from workouts.
    ForceWeeklyRollupsResponse:
      type: object
      properties:
        status:
          type: string
          enum: [success, partial, failed, skipped]
        message:
          type: string
        results:
          type: array
          items:
            $ref: '#/components/schemas/WeeklyRollupAthleteResult'
      required:
        - status
        - message
        - results
    WeeklyRollupAthleteResult:
      type: object
      properties:
        athlete_id:
          type: string
        status:
          type: string
          enum: [success, partial, failed, skipped]
        message:
          type: string
        weeks:
          type: array
          items:
            $ref: '#/components/schemas/WeeklyRollupWeekResult'
        summary:
          type: object
          properties:
            requested_weeks:
              type: integer
            succeeded:
              type: integer
            skipped:
              type: integer
            failed:
              type: integer
          required:
            - requested_weeks
            - succeeded
            - skipped
            - failed
      required:
        - athlete_id
        - status
        - message
        - weeks
        - summary
    WeeklyRollupWeekResult:
      type: object
      properties:
        weeks_ago:
          type: integer
          minimum: 1
        status:
          type: string
          enum: [success, failed, skipped]
        message:
          type: string
        rollup:
          type: object
          description: Present when week status is success.
          additionalProperties: true
        error_type:
          type: string
        error:
          type: string
      required:
        - weeks_ago
        - status
        - message
    AgentContext:
      type: object
      properties:
        athlete_id:
          type: string
        preferences:
          type: array
          items:
            $ref: '#/components/schemas/Preference'
        active_observations:
          type: array
          items:
            $ref: '#/components/schemas/Observation'
        instruction_addendum:
          type:
            - string
            - 'null'
        retrieved_at:
          type: string
          format: date-time
      required:
        - athlete_id
        - preferences
        - active_observations
    AgentPreferences:
      description: Legacy single-record preferences schema (deprecated)
      type: object
      properties:
        current_goal:
          type: string
          description: Current training goal
        training_phase:
          type: string
          description: Training phase (base, build, peak, recovery)
        preferred_sports:
          type: array
          items:
            type: string
          description: Active sports/disciplines
        ftp_test_frequency_weeks:
          type: integer
          description: How often to test FTP (weeks)
        last_ftp_test_date:
          type: string
          format: date
          description: ISO date of last FTP test
        notes:
          type: string
          description: Free-form context notes
        updated_at:
          type: string
          format: date-time
    Preference:
      type: object
      properties:
        preference_id:
          type: string
          format: uuid
        category:
          type: string
        summary:
          type: string
        details:
          type: string
        priority:
          type: string
          enum: [low, normal, high]
        status:
          type: string
          enum: [active, resolved, archived]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - preference_id
        - category
        - summary
        - priority
        - status
        - created_at
    AgentPreferencesResponse:
      type: object
      properties:
        athlete_id:
          type: string
        preferences:
          type: array
          items:
            $ref: '#/components/schemas/Preference'
        count:
          type: integer
      required:
        - athlete_id
        - preferences
        - count
    CreatePreferenceRequest:
      type: object
      required:
        - category
        - summary
      properties:
        athlete_id:
          type: string
          default: rob
        category:
          type: string
        summary:
          type: string
        details:
          type: string
        priority:
          type: string
          enum: [low, normal, high]
          default: normal
        status:
          type: string
          enum: [active, resolved, archived]
          default: active
    PreferenceCreateResponse:
      type: object
      properties:
        preference_id:
          type: string
          format: uuid
        preference:
          $ref: '#/components/schemas/Preference'
      required:
        - preference_id
        - preference
    PreferenceUpdateResponse:
      type: object
      properties:
        preference_id:
          type: string
          format: uuid
        preference:
          $ref: '#/components/schemas/Preference'
      required:
        - preference_id
        - preference
    UpdatePreferencesRequest:
      description: Legacy request schema (deprecated)
      type: object
      properties:
        athlete_id:
          type: string
          default: rob
        current_goal:
          type: string
        training_phase:
          type: string
        preferred_sports:
          type: array
          items:
            type: string
        ftp_test_frequency_weeks:
          type: integer
        last_ftp_test_date:
          type: string
          format: date
        notes:
          type: string
    Observation:
      type: object
      properties:
        observation_id:
          type: string
          format: uuid
        category:
          type: string
        summary:
          type: string
        details:
          type: string
        referenced_workout_ids:
          type: array
          items:
            type: string
        priority:
          type: string
          enum: [low, normal, high]
        status:
          type: string
          enum: [active, resolved, archived]
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
      required:
        - observation_id
        - category
        - summary
        - priority
        - status
        - created_at
    CreateObservationRequest:
      type: object
      required:
        - category
        - summary
      properties:
        athlete_id:
          type: string
          default: rob
        category:
          type: string
        summary:
          type: string
        details:
          type: string
        workout_ids:
          type: array
          items:
            type: string
        priority:
          type: string
          enum: [low, normal, high]
        expires_days:
          type: integer
          minimum: 1
    ObservationResponse:
      type: object
      properties:
        observation_id:
          type: string
          format: uuid
        athlete_id:
          type: string
        category:
          type: string
        summary:
          type: string
        details:
          type: string
        referenced_workout_ids:
          type: array
          items:
            type: string
        priority:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
      required:
        - observation_id
        - athlete_id
        - category
        - summary
        - priority
        - status
        - created_at
      additionalProperties: true
    ObservationCreateResponse:
      type: object
      properties:
        observation_id:
          type: string
          format: uuid
        observation:
          $ref: '#/components/schemas/ObservationResponse'
      required:
        - observation_id
        - observation
    ObservationStatusResponse:
      type: object
      properties:
        observation_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [active, resolved, archived]
        updated_at:
          type: string
          format: date-time
      required:
        - observation_id
        - status
        - updated_at
    ObservationsList:
      type: object
      properties:
        athlete_id:
          type: string
        observations:
          type: array
          items:
            $ref: '#/components/schemas/Observation'
        count:
          type: integer
      required:
        - athlete_id
        - observations
        - count
    PhysiometricSnapshot:
      type: object
      description: Consolidated current physiometrics snapshot with canonical domain sections. Canonical section fields are always present and may be null when unavailable.
      properties:
        athlete_id:
          type: string
        effective_date:
          type: string
          format: date
        data_sources:
          type: array
          items:
            type: string
        source_effective_dates:
          type: object
          additionalProperties:
            type: string
            format: date
        heart_rate:
          type: object
          properties:
            basis:
              type: string
            lthr_bpm:
              type: [number, "null"]
            hr_max_bpm:
              type: [number, "null"]
            resting_hr_bpm:
              type: [number, "null"]
            hrv_ln_rmssd:
              type: [number, "null"]
            hrv_sdnn_ms:
              type: [number, "null"]
        power:
          type: object
          properties:
            ftp_watts:
              type: [number, "null"]
        vo2max:
          type: object
          properties:
            cycling_vo2max_ml_kg_min:
              type: [number, "null"]
            running_vo2max_ml_kg_min:
              type: [number, "null"]
        body_composition:
          type: object
          properties:
            weight_kg:
              type: [number, "null"]
            fat_mass_kg:
              type: [number, "null"]
            muscle_mass_kg:
              type: [number, "null"]
            bone_mass_kg:
              type: [number, "null"]
            body_fat_pct:
              type: [number, "null"]
        recovery:
          type: object
          properties:
            sleep_duration_sec:
              type: [number, "null"]
            spo2_pct:
              type: [number, "null"]
        activity:
          type: object
          properties:
            steps:
              type: [integer, "null"]
        nutrition:
          type: object
          properties:
            calories_kcal:
              type: [number, "null"]
            carbs_g:
              type: [number, "null"]
            protein_g:
              type: [number, "null"]
            fat_g:
              type: [number, "null"]
        training_state:
          type: object
          properties:
            training_load:
              type: [number, "null"]
            recovery_time_minutes:
              type: [integer, "null"]
            readiness_score:
              type: [number, "null"]
            training_effect_aerobic:
              type: [number, "null"]
            training_effect_anaerobic:
              type: [number, "null"]
            training_stress_score:
              type: [number, "null"]
            training_stress_balance:
              type: [number, "null"]
            atp_probability:
              type: [number, "null"]
            training_status_label:
              type: [string, "null"]
            load_focus_low_aerobic_pct:
              type: [number, "null"]
            load_focus_high_aerobic_pct:
              type: [number, "null"]
            load_focus_anaerobic_pct:
              type: [number, "null"]
        visceral_fat_index:
          type: [number, "null"]
        metabolic_age_years:
          type: [number, "null"]
        soreness:
          type: [number, "null"]
        fatigue:
          type: [number, "null"]
        stress:
          type: [number, "null"]
        mood:
          type: [number, "null"]
        motivation:
          type: [number, "null"]
        injury:
          type: [number, "null"]
        systolic_bp:
          type: [number, "null"]
        diastolic_bp:
          type: [number, "null"]
      required:
        - athlete_id
        - heart_rate
        - power
        - vo2max
        - body_composition
        - recovery
        - activity
        - nutrition
        - training_state
    PhysiometricHistory:
      type: object
      properties:
        athlete_id:
          type: string
        query_window:
          type: object
          properties:
            start_date:
              type: string
              format: date
            end_date:
              type: string
              format: date
            days:
              type: integer
        count:
          type: integer
        data_points:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    TrainingStateSnapshot:
      type: object
      description: Daily training state snapshot computed from workouts and physiometrics. All metrics are derived and idempotent; safe to recompute any time.
      properties:
        athlete_id:
          type: string
          description: Athlete identifier (partition key)
        effective_date:
          type: string
          format: date
          description: Effective date (YYYY-MM-DD) in athlete local timezone
        cts_rolling_7d:
          type: number
          description: Chronic training stress (7 days)
          minimum: 0
        cts_rolling_28d:
          type: number
          description: Chronic training stress (28 days)
          minimum: 0
        ats_rolling:
          type: number
          description: Acute training stress (7 days)
          minimum: 0
        fatigue_index:
          type: number
          description: Fatigue index (ATS / CTS; higher = more fatigued)
        readiness_score:
          type: number
          description: Composite readiness (HRV + load + HR)
          minimum: 0
          maximum: 100
        garmin_readiness_score:
          type: number
          description: Garmin native readiness score
          minimum: 0
          maximum: 100
        mood:
          type: integer
          description: User-reported mood (1-5)
          minimum: 1
          maximum: 5
        soreness:
          type: integer
          description: User-reported soreness (1-5)
          minimum: 1
          maximum: 5
        pred_recovery_days:
          type: integer
          description: Predicted days to full recovery
          minimum: 0
        data_sources:
          type: string
          description: "CSV of sources: workouts,physiometrics,garmin"
          default: ""
        canonical_version:
          type: string
          description: Schema version of this snapshot
          default: "3.0.0"
        last_updated_utc:
          type: string
          format: date-time
          description: When snapshot was computed
      required:
        - athlete_id
        - effective_date
    UpdatePhysiometricRequest:
      type: object
      required:
        - athlete_id
      properties:
        athlete_id:
          type: string
        metric:
          type: string
          description: Single metric identifier to update
        value:
          type: number
          description: Value for the single metric update
        metrics:
          type: object
          description: Map of metric identifiers to values for bulk updates
          additionalProperties:
            type: number
        effective_date:
          type: string
          format: date
        source:
          type: string
          description: Source of the data (e.g., chatgpt)
    UpdatePhysiometricResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        athlete_id:
          type: string
        metric:
          type: string
        value:
          type: number
        effective_date:
          type: string
          format: date
        source:
          type: string
        updated_at_utc:
          type: string
          format: date-time
        updates:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    WithingsAuthorizeResponse:
      type: object
      properties:
        authorization_url:
          type: string
          format: uri
        instructions:
          type: string
        athlete_id:
          type: string
    WithingsWebhookPayload:
      type: object
      properties:
        userid:
          type: string
        appli:
          type: string
          description: Notification type (1 = weight)
        startdate:
          type: string
          description: Unix timestamp
        enddate:
          type: string
          description: Unix timestamp
      required:
        - userid
        - appli
        - startdate
        - enddate
    RecalculatedWorkoutResponse:
      type: object
      properties:
        message:
          type: string
          example: Not implemented
        workout_id:
          type: string
        physiometrics_override:
          type: object
          additionalProperties: true
    ConfigSnapshot:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        heart_rate:
          type: object
          properties:
            basis:
              type: string
            lthr_bpm:
              type: integer
            hr_max_bpm:
              type: integer
            resting_hr_bpm:
              type: integer
        power:
          type: object
          properties:
            ftp_watts:
              type: integer
    ConfigUpdateRequest:
      type: object
      properties:
        as_of:
          type: string
          format: date
          description: Effective date for this configuration update (YYYY-MM-DD)
        heart_rate:
          type: object
          additionalProperties: true
        power:
          type: object
          additionalProperties: true
        athlete_info:
          type: object
          properties:
            home_timezone:
              type: string
              description: IANA timezone name (for example America/New_York)
          additionalProperties: true
        gear:
          type: object
          description: Athlete gear metadata (for example favorite bike, bike aliases)
          additionalProperties: true
    ConfigUpdateResponse:
      allOf:
        - $ref: '#/components/schemas/ConfigSnapshot'
        - type: object
          properties:
            updated_at_utc:
              type: string
            as_of:
              type: string
              format: date
            athlete_info:
              type: object
              additionalProperties: true
            gear:
              type: object
              additionalProperties: true
    ConfigHistoryResponse:
      type: object
      properties:
        status:
          type: string
        count:
          type: integer
        history:
          type: array
          items:
            type: object
            properties:
              updated_at_utc:
                type: string
              heart_rate:
                type: object
                additionalProperties: true
              power:
                type: object
                additionalProperties: true
              athlete_info:
                type: object
                additionalProperties: true
              gear:
                type: object
                additionalProperties: true
    ProcessFitRequest:
      type: object
      required:
        - athlete_id
        - source_file_name
        - file_content_b64
      properties:
        athlete_id:
          type: string
        source_system:
          type: string
        source_item_id:
          type: string
        source_file_name:
          type: string
        source_file_path:
          type: string
        source_drive_id:
          type: string
        source_etag:
          type: string
        source_ctag:
          type: string
        source_quickxor_hash:
          type: string
        source_modified_at_utc:
          type: string
          format: date-time
        file_content_b64:
          type: string
          description: Base64-encoded FIT file content
        file_size_bytes:
          type: integer
        file_sha256:
          type: string
    ProcessFitResponse:
      type: object
      description: Parsed FIT metrics with source metadata. Response fields mirror parsed metrics.
      properties:
        source_info:
          type: object
          properties:
            source_system:
              type: string
            source_file_name:
              type: string
            source_file_path:
              type: string
            source_item_id:
              type: string
            source_drive_id:
              type: string
            source_etag:
              type: string
            source_ctag:
              type: string
            source_quickxor_hash:
              type: string
            source_modified_at_utc:
              type: string
              format: date-time
            file_size_bytes:
              type: integer
            file_sha256:
              type: string
        error:
          type: string
      additionalProperties: true
    PlanningContext:
      type: object
      description: Aggregated planning context for the athlete.
      properties:
        athlete_id:
          type: string
        query_window:
          type: object
        recent_workouts:
          type: array
          items:
            type: object
        weekly_rollups:
          type: array
          items:
            type: object
        summary:
          type: object
        notable_flags:
          type: array
          items:
            type: string
      additionalProperties: true
    WorkoutsList:
      type: object
      properties:
        athlete_id:
          type: string
        count:
          type: integer
        workouts:
          type: array
          items:
            $ref: '#/components/schemas/WorkoutSummary'
    WorkoutSummary:
      type: object
      properties:
        workout_id:
          type: string
        athlete_id:
          type: string
        sport:
          type: string
        sub_sport:
          type: string
        workout_name:
          type: string
        is_indoor:
          type: boolean
        start_time_utc:
          type: string
          format: date-time
        local_tz_offset:
          type: string
          description: Local wall-clock UTC offset for client display formatting (for example `UTC-05:00`).
        timezone:
          type: string
          description: IANA timezone name when available (for example `America/New_York`), otherwise falls back to UTC offset.
        duration_sec:
          type: number
        moving_time_sec:
          type: number
        distance_m:
          type: number
        elevation_gain_m:
          type: number
        calories_kcal:
          type: number
        hr_avg_bpm:
          type: number
        hr_max_bpm:
          type: number
        hr_z1_sec:
          type: number
        hr_z2_sec:
          type: number
        hr_z3_sec:
          type: number
        hr_z4_sec:
          type: number
        hr_z5_sec:
          type: number
        hr_zone_basis:
          type: string
        hr_zone_reference_bpm:
          type: number
        pwr_avg_watts:
          type: number
        pwr_max_watts:
          type: number
        pwr_normalized_watts:
          type: number
        pwr_variability_index:
          type: number
        pwr_z1_sec:
          type: number
        pwr_z2_sec:
          type: number
        pwr_z3_sec:
          type: number
        pwr_z4_sec:
          type: number
        pwr_z5_sec:
          type: number
        pwr_z6_sec:
          type: number
        pwr_z7_sec:
          type: number
        low_aerobic_sec:
          type: number
        intensity_sec:
          type: number
        ftp_watts:
          type: number
        intensity_factor:
          type: number
        tss:
          type: number
        decoupling_pct:
          type: number
        hr_drift_bpm:
          type: number
        ef_first_half:
          type: number
        ef_second_half:
          type: number
        ef_overall:
          type: number
        source_system:
          type: string
      additionalProperties: true
    WorkoutDetail:
      allOf:
        - $ref: '#/components/schemas/WorkoutSummary'
    WorkoutLapDetail:
      type: object
      properties:
        workout_id:
          type: string
        athlete_id:
          type: string
        lap_index:
          type: integer
        record_count:
          type: integer
        start_time:
          type: string
          format: date-time
        total_elapsed_time:
          type: number
        total_timer_time:
          type: number
        total_distance:
          type: number
        total_calories:
          type: number
        avg_heart_rate:
          type: number
        max_heart_rate:
          type: number
        avg_power:
          type: number
        max_power:
          type: number
        avg_cadence:
          type: number
        max_cadence:
          type: number
        records:
          type: array
          items:
            type: object
            properties:
              record_index:
                type: integer
              heart_rate:
                type: integer
              power:
                type: integer
              cadence:
                type: integer
              position_lat:
                type: number
              position_long:
                type: number
    WeeklyRollups:
      type: object
      properties:
        athlete_id:
          type: string
        weeks:
          type: integer
        count:
          type: integer
        rollups:
          type: array
          items:
            type: object
            additionalProperties: true
  securitySchemes:
    FunctionKey:
      type: apiKey
      in: query
      name: code
      description: Azure Functions API key passed as `?code=...`
