openapi: 3.1.0
info:
  title: Health Assistant API (Semantic/GPT)
  version: "8.0.0"
  description: |
    GPT-facing semantic API for athlete memory, planning context, workouts, physiometrics, and training-state signals.
    Use this spec for conversational decision support; use openapi.operations.yaml for operational and system endpoints.

    Response compression contract:
    - Clients may request gzip by sending `Accept-Encoding: gzip`.
    - Responses may include `Content-Encoding: gzip` and `Vary: Accept-Encoding`.
    - `deflate` and `br` are not part of the current response encoding contract.
servers:
  - url: https://health.azure.barrimond.net
    description: Azure Functions host
paths:
  /api/health:
    get:
      summary: Health check with dependency status
      operationId: healthCheck
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
        '503':
          description: Service is degraded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'
  /api/agent/context:
    get:
      summary: Get agent memory context (preferences + active observations)
      operationId: getAgentContext
      description: Returns the assistant working memory used for conversational grounding. Call this at conversation start to load active preferences and observations before planning or recommendation endpoints.
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Agent context with preferences and observations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentContext'
              examples:
                default:
                  $ref: '#/components/examples/AgentContextExample'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/agent/preferences:
    get:
      summary: List agent preferences
      operationId: getAgentPreferences
      description: Returns ordered preference items for the athlete. Use `status=active` for current constraints and goals before recommendation generation.
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
        - name: status
          in: query
          required: false
          description: Filter by status
          schema:
            type: string
            enum: [active, resolved, archived, all]
            default: active
        - name: limit
          in: query
          required: false
          description: Maximum number of preferences
          schema:
            type: integer
            default: 20
            maximum: 100
      security:
        - FunctionKey: []
      responses:
        '200':
          description: List of preferences
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentPreferencesResponse'
              examples:
                default:
                  $ref: '#/components/examples/AgentPreferencesListExample'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      summary: Create new preference
      operationId: createAgentPreference
      description: Creates a structured preference item (category/summary/details/priority/status). This endpoint is item-based create, not legacy bulk-update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePreferenceRequest'
            examples:
              default:
                $ref: '#/components/examples/CreatePreferenceRequestExample'
      security:
        - FunctionKey: []
      responses:
        '201':
          description: Preference created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferenceCreateResponse'
              examples:
                default:
                  $ref: '#/components/examples/PreferenceCreateResponseExample'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/agent/preferences/{preference_id}:
    patch:
      summary: Update a preference
      operationId: updateAgentPreference
      description: Updates mutable fields for one preference item by ID. Typical usage is lifecycle transitions such as `active -> resolved`.
      parameters:
        - name: preference_id
          in: path
          required: true
          description: Preference UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                athlete_id:
                  type: string
                category:
                  type: string
                summary:
                  type: string
                details:
                  type: string
                priority:
                  type: string
                  enum: [low, normal, high]
                status:
                  type: string
                  enum: [active, resolved, archived]
            examples:
              resolvePreference:
                $ref: '#/components/examples/UpdatePreferenceRequestExample'
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Preference updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferenceUpdateResponse'
              examples:
                default:
                  $ref: '#/components/examples/PreferenceUpdateResponseExample'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/agent/observations:
    get:
      summary: List training observations
      operationId: listAgentObservations
      description: Returns observation items that capture constraints, flags, and patterns. Use active observations to adjust recommendations.
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
        - name: status
          in: query
          required: false
          description: Filter by status
          schema:
            type: string
            enum: [active, resolved, archived, all]
            default: active
        - name: limit
          in: query
          required: false
          description: Maximum number of observations
          schema:
            type: integer
            default: 20
            maximum: 100
      security:
        - FunctionKey: []
      responses:
        '200':
          description: List of observations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObservationsList'
              examples:
                default:
                  $ref: '#/components/examples/ObservationsListExample'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      summary: Add new training observation
      operationId: addAgentObservation
      description: Creates an observation item with optional detail, workout references, and TTL-style expiration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateObservationRequest'
            examples:
              default:
                $ref: '#/components/examples/CreateObservationRequestExample'
      security:
        - FunctionKey: []
      responses:
        '201':
          description: Observation created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObservationCreateResponse'
              examples:
                default:
                  $ref: '#/components/examples/ObservationCreateResponseExample'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/agent/observations/{observation_id}:
    patch:
      summary: Update observation status
      operationId: updateAgentObservation
      description: Updates one observation by ID. Most common usage is status transitions (`active`, `resolved`, `archived`).
      parameters:
        - name: observation_id
          in: path
          required: true
          description: Observation UUID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                athlete_id:
                  type: string
                status:
                  type: string
                  enum: [active, resolved, archived]
            examples:
              resolveObservation:
                $ref: '#/components/examples/UpdateObservationStatusRequestExample'
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Observation updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObservationStatusResponse'
              examples:
                default:
                  $ref: '#/components/examples/ObservationStatusResponseExample'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/planning/context:
    get:
      summary: Get planning context for training decisions
      description: Returns planning-ready context for short-horizon coaching decisions. Treat this as the primary endpoint for “what should I do next?” reasoning. Zone totals are stored in seconds but surfaced as minutes in summary fields.
      operationId: planningContext
      security:
        - FunctionKey: []
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
        - name: days
          in: query
          required: false
          schema:
            type: integer
            default: 45
            maximum: 365
      responses:
        '200':
          description: Planning context payload with WorkoutProjection objects in recent_workouts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlanningContext'
              examples:
                default:
                  $ref: '#/components/examples/PlanningContextExample'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/workouts:
    get:
      summary: Query workouts with filters
      description: Lists workouts for an athlete/date window as compact projections for sorting and filtering. Use this for retrieval and triage; call workout detail endpoints only when deeper metrics are needed.
      operationId: listWorkouts
      security:
        - FunctionKey: []
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
        - name: since
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: until
          in: query
          required: false
          schema:
            type: string
            format: date
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            default: 50
            maximum: 200
        - name: sport
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: List of WorkoutProjection objects
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutsList'
              examples:
                default:
                  $ref: '#/components/examples/WorkoutsListExample'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/workouts/{workout_id}:
    get:
      summary: Get detailed workout data
      operationId: getWorkout
      description: Returns a deep workout record for one session, including identity fields and nested metric families for analysis. Use this endpoint only when projection data is insufficient for the decision.
      security:
        - FunctionKey: []
      parameters:
        - name: workout_id
          in: path
          required: true
          schema:
            type: string
        - name: athlete_id
          in: query
          required: true
          description: Athlete identifier
          schema:
            type: string
        - name: laps
          in: query
          required: false
          description: Include lap summaries if available
          schema:
            type: boolean
            default: false
        - name: developer_fields
          in: query
          required: false
          description: Include FIT developer fields summary (Garmin-specific per-lap metrics). Adds `developer_fields_summary` to the response when present.
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Workout detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutDetail'
              examples:
                default:
                  $ref: '#/components/examples/WorkoutDetailExample'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          description: Workout not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/workouts/{workout_id}/laps/{lap_index}:
    get:
      summary: Get lap summary detail
      operationId: getWorkoutLap
      security:
        - FunctionKey: []
      parameters:
        - name: workout_id
          in: path
          required: true
          schema:
            type: string
        - name: lap_index
          in: path
          required: true
          schema:
            type: integer
        - name: athlete_id
          in: query
          required: true
          description: Athlete identifier
          schema:
            type: string
      responses:
        '200':
          description: Lap detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutLapDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/rollups/weekly:
    get:
      summary: Get weekly rollup data
      operationId: weeklyRollups
      security:
        - FunctionKey: []
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
        - name: weeks
          in: query
          required: false
          schema:
            type: integer
            default: 16
            maximum: 52
      responses:
        '200':
          description: Weekly rollups
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeeklyRollups'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/analysis/zones:
    get:
      summary: Get time-in-zone distribution
      operationId: zoneDistribution
      security:
        - FunctionKey: []
      parameters:
        - name: athlete_id
          in: query
          required: true
          description: Athlete identifier
          schema:
            type: string
        - name: days
          in: query
          required: false
          schema:
            type: integer
            default: 30
            maximum: 365
      responses:
        '200':
          description: Zone distribution data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZoneDistribution'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/analysis/efficiency:
    get:
      summary: Get aerobic efficiency and decoupling trends
      operationId: efficiencyTrends
      security:
        - FunctionKey: []
      parameters:
        - name: athlete_id
          in: query
          required: true
          description: Athlete identifier
          schema:
            type: string
        - name: days
          in: query
          required: false
          schema:
            type: integer
            default: 90
            maximum: 365
      responses:
        '200':
          description: Efficiency trend data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EfficiencyTrends'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/physiometrics/current:
    get:
      summary: Get current physiometric values
      operationId: getCurrentPhysiometrics
      description: Returns the latest canonical physiometrics snapshot across heart rate, power, body composition, recovery, and readiness domains.
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Current snapshot of metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhysiometricSnapshot'
              examples:
                default:
                  $ref: '#/components/examples/PhysiometricsCurrentExample'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/physiometrics/history:
    get:
      summary: Get physiometric time series
      operationId: getPhysiometricsHistory
      description: Returns physiometrics trend points for the requested lookback window and optional metric filter.
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
        - name: days
          in: query
          required: false
          description: Days to look back (default 90, max 365)
          schema:
            type: integer
            format: int32
            default: 90
            maximum: 365
        - name: metrics
          in: query
          required: false
          description: Comma-separated list of metric identifiers
          style: form
          explode: false
          schema:
            type: array
            items:
              type: string
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Time-series data for requested metrics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhysiometricHistory'
              examples:
                default:
                  $ref: '#/components/examples/PhysiometricsHistoryExample'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/training-state/current:
    get:
      summary: Get current training state
      operationId: getCurrentTrainingState
      description: Returns the athlete’s latest training-state snapshot, including current load, recovery, and readiness indicators.
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Current training state snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrainingStateSnapshot'
              examples:
                default:
                  $ref: '#/components/examples/TrainingStateCurrentExample'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
  /api/training-state/history:
    get:
      summary: Get training state time series
      operationId: getTrainingStateHistory
      description: Returns a time series of training-state snapshots across the requested period for trend and trajectory analysis.
      parameters:
        - name: athlete_id
          in: query
          required: false
          description: Athlete identifier (defaults to 'rob')
          schema:
            type: string
            default: rob
        - name: days
          in: query
          required: false
          description: Days to look back when since/until are not provided (default 45, max 90)
          schema:
            type: integer
            format: int32
            default: 45
            maximum: 90
        - name: since
          in: query
          required: false
          description: Inclusive start date (YYYY-MM-DD). Overrides the derived start date when provided.
          schema:
            type: string
            format: date
        - name: until
          in: query
          required: false
          description: Inclusive end date (YYYY-MM-DD). Defaults to today when omitted.
          schema:
            type: string
            format: date
      security:
        - FunctionKey: []
      responses:
        '200':
          description: Time-series training state data
          content:
            application/json:
              schema:
                type: object
                properties:
                  athlete_id:
                    type: string
                  query_window:
                    type: object
                    properties:
                      start_date:
                        type: string
                        format: date
                      end_date:
                        type: string
                        format: date
                      days:
                        type: integer
                  count:
                    type: integer
                  data_points:
                    type: array
                    items:
                      $ref: '#/components/schemas/TrainingStateSnapshot'
                  computed_at_utc:
                    type: string
                    format: date-time
              examples:
                default:
                  $ref: '#/components/examples/TrainingStateHistoryExample'
        '400':
          $ref: '#/components/responses/BadRequest'
        '500':
          $ref: '#/components/responses/InternalError'
components:
  parameters:
    AthleteId:
      name: athlete_id
      in: query
      required: true
      description: Athlete identifier
      schema:
        type: string
    AthleteIdOptional:
      name: athlete_id
      in: query
      required: false
      description: Athlete identifier (optional; falls back to DEFAULT_ATHLETE_ID)
      schema:
        type: string
  responses:
    BadRequest:
      description: Invalid input
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            invalidInput:
              $ref: '#/components/examples/BadRequestExample'
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            unexpectedFailure:
              $ref: '#/components/examples/InternalErrorExample'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          examples:
            missingResource:
              $ref: '#/components/examples/NotFoundExample'
  examples:
    BadRequestExample:
      summary: Invalid request payload or query
      value:
        error: athlete_id required
    InternalErrorExample:
      summary: Unexpected server-side failure
      value:
        error: Internal server error
    NotFoundExample:
      summary: Requested resource does not exist
      value:
        error: Preference not found
    AgentContextExample:
      summary: Context payload for conversation grounding
      value:
        athlete_id: rob
        preferences:
          - preference_id: c9c8812c-9b11-4cc2-a6d2-6f4f1ba2e0c8
            category: goal
            summary: Build aerobic base for spring races
            details: Focus on Z2 consistency and fatigue control
            priority: high
            status: active
            created_at: '2026-03-01T08:00:00+00:00'
        active_observations:
          - observation_id: 4e36e2f2-4ca6-4eb5-8cb2-2cfa9d689f31
            category: fatigue
            summary: Poor sleep in last 3 nights
            priority: normal
            status: active
            created_at: '2026-03-24T06:00:00+00:00'
        instruction_addendum: User goal is aerobic base; account for active fatigue observation.
        retrieved_at: '2026-03-25T09:30:00+00:00'
    AgentPreferencesListExample:
      summary: Active preference list response
      value:
        athlete_id: rob
        count: 2
        preferences:
          - preference_id: c9c8812c-9b11-4cc2-a6d2-6f4f1ba2e0c8
            category: goal
            summary: Build aerobic base for spring races
            priority: high
            status: active
            created_at: '2026-03-01T08:00:00+00:00'
          - preference_id: 16af8f3f-80ab-4ad8-bb34-cc0ffcf2a7c5
            category: schedule
            summary: Hard sessions only Tue/Thu
            priority: normal
            status: active
            created_at: '2026-03-02T08:00:00+00:00'
    CreatePreferenceRequestExample:
      summary: Request to create a goal preference
      value:
        athlete_id: rob
        category: goal
        summary: Build aerobic base for spring races
        details: Prioritize consistent Z2 volume over intensity this month
        priority: high
        status: active
    PreferenceCreateResponseExample:
      summary: Preference creation response
      value:
        preference_id: c9c8812c-9b11-4cc2-a6d2-6f4f1ba2e0c8
        preference:
          preference_id: c9c8812c-9b11-4cc2-a6d2-6f4f1ba2e0c8
          athlete_id: rob
          category: goal
          summary: Build aerobic base for spring races
          details: Prioritize consistent Z2 volume over intensity this month
          priority: high
          status: active
          created_at: '2026-03-25T09:32:00+00:00'
          updated_at: '2026-03-25T09:32:00+00:00'
    UpdatePreferenceRequestExample:
      summary: Resolve a completed preference
      value:
        athlete_id: rob
        status: resolved
    PreferenceUpdateResponseExample:
      summary: Preference update response
      value:
        preference_id: c9c8812c-9b11-4cc2-a6d2-6f4f1ba2e0c8
        preference:
          preference_id: c9c8812c-9b11-4cc2-a6d2-6f4f1ba2e0c8
          athlete_id: rob
          category: goal
          summary: Build aerobic base for spring races
          priority: high
          status: resolved
          created_at: '2026-03-01T08:00:00+00:00'
          updated_at: '2026-03-25T09:40:00+00:00'
    ObservationsListExample:
      summary: Observation list response
      value:
        athlete_id: rob
        count: 1
        observations:
          - observation_id: 4e36e2f2-4ca6-4eb5-8cb2-2cfa9d689f31
            category: fatigue
            summary: Poor sleep in last 3 nights
            details: HRV below baseline and subjective fatigue elevated
            referenced_workout_ids: []
            priority: normal
            status: active
            created_at: '2026-03-24T06:00:00+00:00'
    CreateObservationRequestExample:
      summary: Request to create an observation
      value:
        athlete_id: rob
        category: fatigue
        summary: Poor sleep in last 3 nights
        details: HRV below baseline and subjective fatigue elevated
        workout_ids: []
        priority: normal
        expires_days: 7
    ObservationCreateResponseExample:
      summary: Observation creation response
      value:
        observation_id: 4e36e2f2-4ca6-4eb5-8cb2-2cfa9d689f31
        observation:
          observation_id: 4e36e2f2-4ca6-4eb5-8cb2-2cfa9d689f31
          athlete_id: rob
          category: fatigue
          summary: Poor sleep in last 3 nights
          details: HRV below baseline and subjective fatigue elevated
          referenced_workout_ids: []
          priority: normal
          status: active
          created_at: '2026-03-24T06:00:00+00:00'
          expires_at: '2026-03-31T06:00:00+00:00'
    UpdateObservationStatusRequestExample:
      summary: Resolve observation status
      value:
        athlete_id: rob
        status: resolved
    ObservationStatusResponseExample:
      summary: Observation status update response
      value:
        observation_id: 4e36e2f2-4ca6-4eb5-8cb2-2cfa9d689f31
        status: resolved
        updated_at: '2026-03-25T10:05:00+00:00'
    PlanningContextExample:
      summary: Planning context summary payload
      value:
        athlete_id: rob
        query_window:
          start_date: '2026-02-09T00:00:00+00:00'
          end_date: '2026-03-25T00:00:00+00:00'
          days: 45
        recent_workouts:
          - workout_id: wk_20260324_ride
            athlete_id: rob
            sport: Cycling
            start_time_utc: '2026-03-24T06:30:00+00:00'
            duration_sec: 5400
            has_power: true
            has_hr: true
            has_gps: true
        weekly_rollups: []
        summary:
          cumulative_z2_minutes: 286
          cumulative_intensity_minutes: 48
          last_hard_day: '2026-03-22T07:00:00+00:00'
          last_long_day: '2026-03-24T06:30:00+00:00'
        notable_flags:
          - One workout missing cadence samples.
    WorkoutsListExample:
      summary: Workout projection list payload
      value:
        athlete_id: rob
        count: 2
        workouts:
          - workout_id: wk_20260324_ride
            athlete_id: rob
            sport: Cycling
            start_time_utc: '2026-03-24T06:30:00+00:00'
            duration_sec: 5400
            has_power: true
            has_hr: true
            has_gps: true
            pwr_avg_watts: 201
            hr_avg_bpm: 141
          - workout_id: wk_20260322_run
            athlete_id: rob
            sport: Running
            start_time_utc: '2026-03-22T07:00:00+00:00'
            duration_sec: 3600
            has_power: false
            has_hr: true
            has_gps: true
            hr_avg_bpm: 151
    WorkoutDetailExample:
      summary: Workout detail payload (abridged)
      value:
        workout_id: wk_20260324_ride
        athlete_id: rob
        sport: Cycling
        start_time_utc: '2026-03-24T06:30:00+00:00'
        duration_sec: 5400
        metrics:
          session:
            sport: Cycling
            duration_sec: 5400
          heart_rate:
            hr_avg_bpm: 141
            hr_max_bpm: 169
          power:
            pwr_avg_watts: 201
            pwr_normalized_watts: 218
          zones_power:
            pwr_z2_sec: 3120
            intensity_sec: 780
          load:
            tss: 86
            intensity_factor: 0.82
    PhysiometricsCurrentExample:
      summary: Latest physiometrics snapshot response
      value:
        athlete_id: rob
        effective_date: '2026-03-25'
        data_sources:
          - workouts
          - physiometrics
          - garmin
        source_effective_dates:
          workouts: '2026-03-25'
          physiometrics: '2026-03-25'
          garmin: '2026-03-25'
        heart_rate:
          basis: rolling_30d
          lthr_bpm: 170
          hr_max_bpm: 188
          resting_hr_bpm: 46
          hrv_ln_rmssd: 4.12
          hrv_sdnn_ms: 52
        power:
          ftp_watts: 285
        vo2max:
          cycling_vo2max_ml_kg_min: 58.7
          running_vo2max_ml_kg_min: 56.1
        body_composition:
          weight_kg: 74.2
          fat_mass_kg: 9.8
          muscle_mass_kg: 33.6
          bone_mass_kg: 3.5
          body_fat_pct: 13.2
        recovery:
          sleep_duration_sec: 27000
          spo2_pct: 97
        activity:
          steps: 10842
        nutrition:
          calories_kcal: 2860
          carbs_g: 335
          protein_g: 162
          fat_g: 86
        training_state:
          training_load: 612
          recovery_time_minutes: 1380
          readiness_score: 74
          training_effect_aerobic: 3.1
          training_effect_anaerobic: 1.4
          training_stress_score: 87
          training_stress_balance: -9
          atp_probability: 0.42
          training_status_label: PRODUCTIVE
          load_focus_low_aerobic_pct: 52
          load_focus_high_aerobic_pct: 34
          load_focus_anaerobic_pct: 14
        visceral_fat_index: 6
        metabolic_age_years: 34
        soreness: 2
        fatigue: 3
        stress: 2
        mood: 4
        motivation: 4
        injury: 1
        systolic_bp: 118
        diastolic_bp: 74
    PhysiometricsHistoryExample:
      summary: Physiometric history for selected metrics
      value:
        athlete_id: rob
        query_window:
          start_date: '2026-01-25'
          end_date: '2026-03-25'
          days: 60
        count: 3
        data_points:
          - effective_date: '2026-03-23'
            readiness_score: 71
            resting_hr_bpm: 47
            hrv_ln_rmssd: 4.05
            weight_kg: 74.5
          - effective_date: '2026-03-24'
            readiness_score: 69
            resting_hr_bpm: 48
            hrv_ln_rmssd: 3.98
            weight_kg: 74.4
          - effective_date: '2026-03-25'
            readiness_score: 74
            resting_hr_bpm: 46
            hrv_ln_rmssd: 4.12
            weight_kg: 74.2
    TrainingStateCurrentExample:
      summary: Latest training state snapshot response
      value:
        athlete_id: rob
        effective_date: '2026-03-25'
        cts_rolling_7d: 71.4
        cts_rolling_28d: 64.8
        ats_rolling: 83.7
        fatigue_index: 1.29
        readiness_score: 74
        garmin_readiness_score: 72
        garmin_training_status: PRODUCTIVE
        garmin_training_load: 612
        garmin_recovery_time_hours: 23
        garmin_load_focus_low_aerobic_pct: 52
        garmin_load_focus_high_aerobic_pct: 34
        garmin_load_focus_anaerobic_pct: 14
        mood: 4
        soreness: 2
        pred_recovery_days: 1
        data_sources: workouts,physiometrics,garmin
        canonical_version: 3.0.0
        last_updated_utc: '2026-03-25T09:45:00+00:00'
    TrainingStateHistoryExample:
      summary: Training state history response
      value:
        athlete_id: rob
        query_window:
          start_date: '2026-03-12'
          end_date: '2026-03-25'
          days: 13
        count: 3
        data_points:
          - athlete_id: rob
            effective_date: '2026-03-23'
            cts_rolling_7d: 68.9
            cts_rolling_28d: 63.7
            ats_rolling: 79.3
            fatigue_index: 1.24
            readiness_score: 71
            garmin_readiness_score: 69
            garmin_training_status: MAINTAINING
            garmin_training_load: 376.0
            garmin_recovery_time_hours: 6.5
            garmin_load_focus_low_aerobic_pct: 30.0
            garmin_load_focus_high_aerobic_pct: 55.0
            garmin_load_focus_anaerobic_pct: 15.0
          - athlete_id: rob
            effective_date: '2026-03-24'
            cts_rolling_7d: 70.5
            cts_rolling_28d: 64.2
            ats_rolling: 84.2
            fatigue_index: 1.31
            readiness_score: 69
            garmin_readiness_score: 67
            garmin_training_status: PRODUCTIVE
            garmin_training_load: 392.0
            garmin_recovery_time_hours: 8.0
            garmin_load_focus_low_aerobic_pct: 28.0
            garmin_load_focus_high_aerobic_pct: 57.0
            garmin_load_focus_anaerobic_pct: 15.0
          - athlete_id: rob
            effective_date: '2026-03-25'
            cts_rolling_7d: 71.4
            cts_rolling_28d: 64.8
            ats_rolling: 83.7
            fatigue_index: 1.29
            readiness_score: 74
            garmin_readiness_score: 72
            garmin_training_status: PRODUCTIVE
            garmin_training_load: 388.0
            garmin_recovery_time_hours: 5.5
            garmin_load_focus_low_aerobic_pct: 29.0
            garmin_load_focus_high_aerobic_pct: 56.0
            garmin_load_focus_anaerobic_pct: 15.0
  schemas:
    HealthStatus:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded]
          description: Overall health status
        timestamp:
          type: string
          format: date-time
          description: ISO8601 timestamp of the health check
        storage:
          type: string
          enum: [ok, degraded]
          description: Table storage connectivity status
      required:
        - status
        - timestamp
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: athlete_id required
    AgentContext:
      type: object
      properties:
        athlete_id:
          type: string
        preferences:
          type: array
          items:
            $ref: '#/components/schemas/Preference'
        active_observations:
          type: array
          items:
            $ref: '#/components/schemas/Observation'
        instruction_addendum:
          type:
            - string
            - 'null'
        retrieved_at:
          type: string
          format: date-time
      required:
        - athlete_id
        - preferences
        - active_observations
    AgentPreferences:
      description: Legacy single-record preferences schema (deprecated)
      type: object
      properties:
        current_goal:
          type: string
          description: Current training goal
        training_phase:
          type: string
          description: Training phase (base, build, peak, recovery)
        preferred_sports:
          type: array
          items:
            type: string
          description: Active sports/disciplines
        ftp_test_frequency_weeks:
          type: integer
          description: How often to test FTP (weeks)
        last_ftp_test_date:
          type: string
          format: date
          description: ISO date of last FTP test
        notes:
          type: string
          description: Free-form context notes
        updated_at:
          type: string
          format: date-time
    Preference:
      type: object
      properties:
        preference_id:
          type: string
          format: uuid
        category:
          type: string
        summary:
          type: string
        details:
          type: string
        priority:
          type: string
          enum: [low, normal, high]
        status:
          type: string
          enum: [active, resolved, archived]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
        - preference_id
        - category
        - summary
        - priority
        - status
        - created_at
    AgentPreferencesResponse:
      type: object
      properties:
        athlete_id:
          type: string
        preferences:
          type: array
          items:
            $ref: '#/components/schemas/Preference'
        count:
          type: integer
      required:
        - athlete_id
        - preferences
        - count
    CreatePreferenceRequest:
      type: object
      required:
        - category
        - summary
      properties:
        athlete_id:
          type: string
          default: rob
        category:
          type: string
        summary:
          type: string
        details:
          type: string
        priority:
          type: string
          enum: [low, normal, high]
          default: normal
        status:
          type: string
          enum: [active, resolved, archived]
          default: active
    PreferenceCreateResponse:
      type: object
      properties:
        preference_id:
          type: string
          format: uuid
        preference:
          $ref: '#/components/schemas/Preference'
      required:
        - preference_id
        - preference
    PreferenceUpdateResponse:
      type: object
      properties:
        preference_id:
          type: string
          format: uuid
        preference:
          $ref: '#/components/schemas/Preference'
      required:
        - preference_id
        - preference
    Observation:
      type: object
      properties:
        observation_id:
          type: string
          format: uuid
        category:
          type: string
        summary:
          type: string
        details:
          type: string
        referenced_workout_ids:
          type: array
          items:
            type: string
        priority:
          type: string
          enum: [low, normal, high]
        status:
          type: string
          enum: [active, resolved, archived]
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
      required:
        - observation_id
        - category
        - summary
        - priority
        - status
        - created_at
    CreateObservationRequest:
      type: object
      required:
        - category
        - summary
      properties:
        athlete_id:
          type: string
          default: rob
        category:
          type: string
        summary:
          type: string
        details:
          type: string
        workout_ids:
          type: array
          items:
            type: string
        priority:
          type: string
          enum: [low, normal, high]
        expires_days:
          type: integer
          minimum: 1
    ObservationResponse:
      type: object
      properties:
        observation_id:
          type: string
          format: uuid
        athlete_id:
          type: string
        category:
          type: string
        summary:
          type: string
        details:
          type: string
        referenced_workout_ids:
          type: array
          items:
            type: string
        priority:
          type: string
        status:
          type: string
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
      required:
        - observation_id
        - athlete_id
        - category
        - summary
        - priority
        - status
        - created_at
      additionalProperties: true
    ObservationCreateResponse:
      type: object
      properties:
        observation_id:
          type: string
          format: uuid
        observation:
          $ref: '#/components/schemas/ObservationResponse'
      required:
        - observation_id
        - observation
    ObservationStatusResponse:
      type: object
      properties:
        observation_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [active, resolved, archived]
        updated_at:
          type: string
          format: date-time
      required:
        - observation_id
        - status
        - updated_at
    ObservationsList:
      type: object
      properties:
        athlete_id:
          type: string
        observations:
          type: array
          items:
            $ref: '#/components/schemas/Observation'
        count:
          type: integer
      required:
        - athlete_id
        - observations
        - count
    PhysiometricSnapshot:
      type: object
      description: Consolidated current physiometrics snapshot with canonical domain sections. Canonical section fields are always present and may be null when unavailable.
      properties:
        athlete_id:
          type: string
        effective_date:
          type: string
          format: date
        data_sources:
          type: array
          items:
            type: string
        source_effective_dates:
          type: object
          additionalProperties:
            type: string
            format: date
        heart_rate:
          type: object
          properties:
            basis:
              type: string
            lthr_bpm:
              type: [number, "null"]
            hr_max_bpm:
              type: [number, "null"]
            resting_hr_bpm:
              type: [number, "null"]
            hrv_ln_rmssd:
              type: [number, "null"]
            hrv_sdnn_ms:
              type: [number, "null"]
        power:
          type: object
          properties:
            ftp_watts:
              type: [number, "null"]
        vo2max:
          type: object
          properties:
            cycling_vo2max_ml_kg_min:
              type: [number, "null"]
            running_vo2max_ml_kg_min:
              type: [number, "null"]
        body_composition:
          type: object
          properties:
            weight_kg:
              type: [number, "null"]
            fat_mass_kg:
              type: [number, "null"]
            muscle_mass_kg:
              type: [number, "null"]
            bone_mass_kg:
              type: [number, "null"]
            body_fat_pct:
              type: [number, "null"]
        recovery:
          type: object
          properties:
            sleep_duration_sec:
              type: [number, "null"]
            spo2_pct:
              type: [number, "null"]
        activity:
          type: object
          properties:
            steps:
              type: [integer, "null"]
        nutrition:
          type: object
          properties:
            calories_kcal:
              type: [number, "null"]
            carbs_g:
              type: [number, "null"]
            protein_g:
              type: [number, "null"]
            fat_g:
              type: [number, "null"]
        training_state:
          type: object
          properties:
            training_load:
              type: [number, "null"]
            recovery_time_minutes:
              type: [integer, "null"]
            readiness_score:
              type: [number, "null"]
            training_stress_score:
              type: [number, "null"]
            training_stress_balance:
              type: [number, "null"]
            atp_probability:
              type: [number, "null"]
            training_status_label:
              type: [string, "null"]
            load_focus_low_aerobic_pct:
              type: [number, "null"]
            load_focus_high_aerobic_pct:
              type: [number, "null"]
            load_focus_anaerobic_pct:
              type: [number, "null"]
        visceral_fat_index:
          type: [number, "null"]
        metabolic_age_years:
          type: [number, "null"]
        soreness:
          type: [number, "null"]
        fatigue:
          type: [number, "null"]
        stress:
          type: [number, "null"]
        mood:
          type: [number, "null"]
        motivation:
          type: [number, "null"]
        injury:
          type: [number, "null"]
        systolic_bp:
          type: [number, "null"]
        diastolic_bp:
          type: [number, "null"]
      required:
        - athlete_id
        - heart_rate
        - power
        - vo2max
        - body_composition
        - recovery
        - activity
        - nutrition
        - training_state
    PhysiometricHistory:
      type: object
      properties:
        athlete_id:
          type: string
        query_window:
          type: object
          properties:
            start_date:
              type: string
              format: date
            end_date:
              type: string
              format: date
            days:
              type: integer
        count:
          type: integer
        data_points:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    TrainingStateSnapshot:
      type: object
      description: Daily training state snapshot computed from workouts and physiometrics. All metrics are derived and idempotent; safe to recompute any time.
      properties:
        athlete_id:
          type: string
          description: Athlete identifier (partition key)
        effective_date:
          type: string
          format: date
          description: Effective date (YYYY-MM-DD) in athlete local timezone
        cts_rolling_7d:
          type: number
          description: Chronic training stress (7 days)
          minimum: 0
        cts_rolling_28d:
          type: number
          description: Chronic training stress (28 days)
          minimum: 0
        ats_rolling:
          type: number
          description: Acute training stress (7 days)
          minimum: 0
        fatigue_index:
          type: number
          description: Fatigue index (ATS / CTS; higher = more fatigued)
        readiness_score:
          type: [number, 'null']
          description: Composite readiness from HRV and fatigue load (0-100); null when data absent
          minimum: 0
          maximum: 100
        garmin_readiness_score:
          type: [number, 'null']
          description: Garmin native readiness score (passthrough)
          minimum: 0
          maximum: 100
        garmin_training_status:
          type: [string, 'null']
          description: Garmin training status label (e.g., PRODUCTIVE, MAINTAINING, OVERREACHING, RECOVERY)
        garmin_training_load:
          type: [number, 'null']
          description: Garmin 7-day cumulative training load (distinct from our CTS)
          minimum: 0
        garmin_recovery_time_hours:
          type: [number, 'null']
          description: Garmin estimated recovery time in hours (converted from minutes)
          minimum: 0
        garmin_load_focus_low_aerobic_pct:
          type: [number, 'null']
          description: Percentage of Load Focus in low aerobic zone (0-100)
          minimum: 0
          maximum: 100
        garmin_load_focus_high_aerobic_pct:
          type: [number, 'null']
          description: Percentage of Load Focus in high aerobic zone (0-100)
          minimum: 0
          maximum: 100
        garmin_load_focus_anaerobic_pct:
          type: [number, 'null']
          description: Percentage of Load Focus in anaerobic zone (0-100)
          minimum: 0
          maximum: 100
        mood:
          type: integer
          description: User-reported mood (1-5)
          minimum: 1
          maximum: 5
        soreness:
          type: integer
          description: User-reported soreness (1-5)
          minimum: 1
          maximum: 5
        pred_recovery_days:
          type: integer
          description: Predicted days to full recovery
          minimum: 0
        data_sources:
          type: string
          description: "CSV of sources: workouts,physiometrics,garmin"
          default: ""
        canonical_version:
          type: string
          description: Schema version of this snapshot
          default: "3.0.0"
        last_updated_utc:
          type: string
          format: date-time
          description: When snapshot was computed
      required:
        - athlete_id
        - effective_date
    UpdatePhysiometricRequest:
      type: object
      required:
        - athlete_id
      properties:
        athlete_id:
          type: string
        metric:
          type: string
          description: Single metric identifier to update
        value:
          type: number
          description: Value for the single metric update
        metrics:
          type: object
          description: Map of metric identifiers to values for bulk updates
          additionalProperties:
            type: number
        effective_date:
          type: string
          format: date
        source:
          type: string
          description: Source of the data (e.g., chatgpt)
    UpdatePhysiometricResponse:
      type: object
      properties:
        status:
          type: string
          example: success
        athlete_id:
          type: string
        metric:
          type: string
        value:
          type: number
        effective_date:
          type: string
          format: date
        source:
          type: string
        updated_at_utc:
          type: string
          format: date-time
        updates:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    WithingsAuthorizeResponse:
      type: object
      properties:
        authorization_url:
          type: string
          format: uri
        instructions:
          type: string
        athlete_id:
          type: string
    WithingsWebhookPayload:
      type: object
      properties:
        userid:
          type: string
        appli:
          type: string
          description: Notification type (1 = weight)
        startdate:
          type: string
          description: Unix timestamp
        enddate:
          type: string
          description: Unix timestamp
      required:
        - userid
        - appli
        - startdate
        - enddate
    RecalculatedWorkoutResponse:
      type: object
      properties:
        message:
          type: string
          example: Not implemented
        workout_id:
          type: string
        physiometrics_override:
          type: object
          additionalProperties: true
    ConfigSnapshot:
      type: object
      properties:
        status:
          type: string
        message:
          type: string
        heart_rate:
          type: object
          properties:
            basis:
              type: string
            lthr_bpm:
              type: integer
            hr_max_bpm:
              type: integer
            resting_hr_bpm:
              type: integer
        power:
          type: object
          properties:
            ftp_watts:
              type: integer
    ConfigUpdateRequest:
      type: object
      properties:
        heart_rate:
          type: object
          additionalProperties: true
        power:
          type: object
          additionalProperties: true
      required:
        - heart_rate
        - power
    ConfigUpdateResponse:
      allOf:
        - $ref: '#/components/schemas/ConfigSnapshot'
        - type: object
          properties:
            updated_at_utc:
              type: string
    ConfigHistoryResponse:
      type: object
      properties:
        status:
          type: string
        count:
          type: integer
        history:
          type: array
          items:
            type: object
            properties:
              updated_at_utc:
                type: string
              heart_rate:
                type: object
                additionalProperties: true
              power:
                type: object
                additionalProperties: true
    PlanningContext:
      type: object
      description: Aggregated planning contract for coaching decisions, combining recent workouts, rollups, query window metadata, and notable flags.
      properties:
        athlete_id:
          type: string
        query_window:
          type: object
        recent_workouts:
          type: array
          description: List of WorkoutProjection objects (lightweight summaries for efficient batch queries)
          items:
            $ref: '#/components/schemas/WorkoutProjection'
        weekly_rollups:
          type: array
          items:
            type: object
        summary:
          type: object
        notable_flags:
          type: array
          items:
            type: string
      additionalProperties: true
    WorkoutsList:
      type: object
      properties:
        athlete_id:
          type: string
        count:
          type: integer
        workouts:
          type: array
          items:
            $ref: '#/components/schemas/WorkoutProjection'
    WorkoutProjection:
      type: object
      description: Compact per-workout projection for list and planning views, covering session identity, key summary fields, data-availability flags, and headline performance values.
      required:
        - workout_id
        - athlete_id
        - sport
        - start_time_utc
        - duration_sec
        - has_power
        - has_hr
        - has_gps
      properties:
        workout_id:
          type: string
          description: Unique workout identifier
        athlete_id:
          type: string
          description: Athlete identifier
        sport:
          type: string
          description: Primary sport/activity type
        sub_sport:
          type: [string, "null"]
          description: Sub-sport classification
        workout_name:
          type: [string, "null"]
          description: User-provided workout name
        device_name:
          type: [string, "null"]
          description: Device name (e.g., 'Robert's Apple Watch', 'Garmin Edge 1050')
        device_manufacturer:
          type: [string, "null"]
          description: Device manufacturer (Apple, Garmin, Wahoo, etc.)
        start_time_utc:
          type: string
          format: date-time
          description: ISO 8601 UTC timestamp
        local_tz_offset:
          type: [string, "null"]
          description: Local wall-clock UTC offset (e.g., 'UTC-05:00')
        timezone:
          type: [string, "null"]
          description: IANA timezone name (e.g., 'America/New_York')
        duration_sec:
          type: number
          description: Total elapsed time in seconds
        moving_time_sec:
          type: [number, "null"]
          description: Active moving time in seconds
        distance_m:
          type: [number, "null"]
          description: GPS distance in meters
        elevation_gain_m:
          type: [number, "null"]
          description: Elevation gain in meters
        elevation_loss_m:
          type: [number, "null"]
          description: Elevation loss in meters
        calories_kcal:
          type: [number, "null"]
          description: Total energy expenditure in kilocalories
        has_power:
          type: boolean
          description: Workout contains power meter data
        has_hr:
          type: boolean
          description: Workout contains heart rate data
        has_gps:
          type: boolean
          description: Workout contains GPS data
        hr_avg_bpm:
          type: [number, "null"]
          description: Average heart rate (bpm) — populated if has_hr=true
        hr_max_bpm:
          type: [number, "null"]
          description: Max heart rate (bpm) — populated if has_hr=true
        pwr_avg_watts:
          type: [number, "null"]
          description: Average power (watts) — populated if has_power=true
        pwr_max_watts:
          type: [number, "null"]
          description: Max power (watts) — populated if has_power=true
        pwr_normalized_watts:
          type: [number, "null"]
          description: Normalized power (watts) — populated if has_power=true
        cad_avg_rpm:
          type: [number, "null"]
          description: Average cadence (rpm)
        cad_max_rpm:
          type: [number, "null"]
          description: Max cadence (rpm)
        is_indoor:
          type: boolean
          description: Workout was performed indoors
        race_flag:
          type: boolean
          description: Marked as race/competitive event
        commute_flag:
          type: boolean
          description: Marked as commute workout
        ingestion_version:
          type: [string, "null"]
          description: Ingestion pipeline version
        ingestion_timestamp_utc:
          type: [string, "null"]
          format: date-time
          description: ISO 8601 UTC timestamp of ingestion
    WorkoutSummary:
      type: object
      deprecated: true
      description: Legacy full workout summary schema kept for compatibility with older consumers.
      properties:
        workout_id:
          type: string
        athlete_id:
          type: string
        sport:
          type: string
        sub_sport:
          type: string
        workout_name:
          type: string
        is_indoor:
          type: boolean
        device_name:
          type: string
        start_time_utc:
          type: string
          format: date-time
        local_tz_offset:
          type: string
          description: Local wall-clock UTC offset for client display formatting (for example `UTC-05:00`).
        timezone:
          type: string
          description: IANA timezone name when available (for example `America/New_York`), otherwise falls back to UTC offset.
        duration_sec:
          type: number
        moving_time_sec:
          type: number
        distance_m:
          type: number
        elevation_gain_m:
          type: number
        calories_kcal:
          type: number
        hr_avg_bpm:
          type: number
        hr_max_bpm:
          type: number
        hr_z1_sec:
          type: number
        hr_z2_sec:
          type: number
        hr_z3_sec:
          type: number
        hr_z4_sec:
          type: number
        hr_z5_sec:
          type: number
        hr_zone_basis:
          type: string
        hr_zone_reference_bpm:
          type: number
        pwr_avg_watts:
          type: number
        pwr_max_watts:
          type: number
        pwr_normalized_watts:
          type: number
        pwr_variability_index:
          type: number
        pwr_z1_sec:
          type: number
        pwr_z2_sec:
          type: number
        pwr_z3_sec:
          type: number
        pwr_z4_sec:
          type: number
        pwr_z5_sec:
          type: number
        pwr_z6_sec:
          type: number
        pwr_z7_sec:
          type: number
        low_aerobic_sec:
          type: number
        intensity_sec:
          type: number
        ftp_watts:
          type: number
        intensity_factor:
          type: number
        tss:
          type: number
        decoupling_pct:
          type: number
        hr_drift_bpm:
          type: number
        ef_first_half:
          type: number
        ef_second_half:
          type: number
        ef_overall:
          type: number
        source_system:
          type: string
      additionalProperties: true
    WorkoutDetail:
      type: object
      description: Single-workout detail contract with stable identity fields and a rich nested metrics payload for session-level analysis.
      required:
        - workout_id
        - athlete_id
        - metrics
      properties:
        workout_id:
          type: string
          description: Unique workout identifier
        athlete_id:
          type: string
          description: Athlete identifier
        source_system:
          type: [string, "null"]
          description: Source provider for workout ingestion
        metrics:
          $ref: '#/components/schemas/WorkoutMetricsModel'
        laps_count:
          type: [integer, "null"]
          minimum: 0
          description: Number of laps included when `laps=true`
        laps:
          type: [array, "null"]
          description: Lap summaries when `laps=true`
          items:
            $ref: '#/components/schemas/LapSummary'
        lap_errors:
          type: [object, "null"]
          description: Lap loading/parsing errors when lap payload cannot be fully resolved
          additionalProperties:
            type: string
        developer_fields_summary:
          type: [object, "null"]
          description: Optional summary of FIT developer fields when `developer_fields=true`
          additionalProperties: true
        developer_fields_error:
          type: [string, "null"]
          description: Error message if developer field extraction failed

    WorkoutMetricsModel:
      type: object
      description: Nested workout metrics grouped by semantic families such as session, zones, load, variability, durability, and artifacts.
      required:
        - session
        - samples
        - distance
      properties:
        physiometrics_snapshot_timestamp:
          type: [string, "null"]
          format: date-time
        session:
          type: object
          description: Session summary with flattened identity/session values plus raw `enrichment` passthrough from the canonical `metadata.json` blob; timezone fields remain normalized at the top of `session`.
          additionalProperties: true
        samples:
          type: object
          additionalProperties: true
        distance:
          type: object
          additionalProperties: true
        zones_hr:
          type: [object, "null"]
          additionalProperties: true
        zones_power:
          type: [object, "null"]
          additionalProperties: true
        hr_resting_bpm:
          type: [number, "null"]
        training_load:
          type: [object, "null"]
          additionalProperties: true
        power_duration:
          type: [object, "null"]
          additionalProperties: true
        envelope:
          type: [object, "null"]
          additionalProperties: true
        variability:
          type: [object, "null"]
          additionalProperties: true
        durability:
          type: [object, "null"]
          additionalProperties: true
        artifacts:
          type: [object, "null"]
          additionalProperties: true
    LapSummary:
      type: object
      additionalProperties: false
      required:
        - lap_index
      properties:
        lap_index:
          type: integer
          minimum: 0
          description: Zero-based lap index
        message_index:
          type: [integer, "null"]
          minimum: 0
          description: FIT message_index when present
        start_time:
          type: [string, "null"]
          format: date-time
          description: Lap start timestamp in UTC
        end_time:
          type: [string, "null"]
          format: date-time
          description: Lap end timestamp in UTC
        total_elapsed_time:
          type: [number, "null"]
          minimum: 0
          description: Total elapsed time in seconds
        total_timer_time:
          type: [number, "null"]
          minimum: 0
          description: Total active timer time in seconds
        total_distance:
          type: [number, "null"]
          minimum: 0
          description: Total distance in meters
        total_calories:
          type: [number, "null"]
          minimum: 0
          description: Total calories in kilocalories
        avg_heart_rate:
          type: [number, "null"]
          minimum: 0
          description: Average heart rate in bpm
        max_heart_rate:
          type: [number, "null"]
          minimum: 0
          description: Maximum heart rate in bpm
        avg_power:
          type: [number, "null"]
          minimum: 0
          description: Average power in watts
        max_power:
          type: [number, "null"]
          minimum: 0
          description: Maximum power in watts
        avg_cadence:
          type: [number, "null"]
          minimum: 0
          description: Average cadence in rpm
        max_cadence:
          type: [number, "null"]
          minimum: 0
          description: Maximum cadence in rpm
        avg_speed:
          type: [number, "null"]
          minimum: 0
          description: Average speed in m/s
        max_speed:
          type: [number, "null"]
          minimum: 0
          description: Maximum speed in m/s
        intensity:
          type: [string, "null"]
          description: FIT intensity label
        lap_trigger:
          type: [string, "null"]
          description: FIT lap trigger type
        sport:
          type: [string, "null"]
          description: Lap sport
        sub_sport:
          type: [string, "null"]
          description: Lap sub-sport
        extra_fields:
          type: [object, "null"]
          description: Additional lap fields not promoted into top-level summary attributes
          additionalProperties: true
    WorkoutLapDetail:
      type: object
      additionalProperties: false
      required:
        - workout_id
        - athlete_id
        - lap
      properties:
        workout_id:
          type: string
          description: Unique workout identifier
        athlete_id:
          type: string
          description: Athlete identifier
        lap:
          $ref: '#/components/schemas/LapSummary'
    WeeklyRollups:
      type: object
      additionalProperties: false
      required:
        - athlete_id
        - weeks
        - count
        - status
        - message
        - results
        - rollups
      properties:
        athlete_id:
          type: string
        weeks:
          type: integer
        count:
          type: integer
        status:
          type: string
          enum: [success, partial, skipped]
        message:
          type: string
        results:
          type: array
          items:
            type: object
            additionalProperties: false
            required:
              - weeks_ago
              - status
              - message
            properties:
              weeks_ago:
                type: integer
                minimum: 1
              status:
                type: string
                enum: [success, skipped]
              message:
                type: string
              week_start_utc:
                type: string
                format: date-time
              week_end_utc:
                type: string
                format: date-time
        rollups:
          type: array
          items:
            type: object
            additionalProperties: false
            required:
              - week_start_utc
              - week_end_utc
              - workouts_count
              - total_duration_min
              - total_hr_z2_min
              - total_pwr_z2_min
              - total_low_aerobic_min
              - total_intensity_min
              - last_updated_at_utc
            properties:
              week_start_utc:
                type: string
                format: date-time
              week_end_utc:
                type: string
                format: date-time
              workouts_count:
                type: integer
              total_duration_min:
                type: number
              total_distance_km:
                type: number
              total_elev_m:
                type: number
              total_hr_z2_min:
                type: number
              total_pwr_z2_min:
                type: number
              total_low_aerobic_min:
                type: number
              total_intensity_min:
                type: number
              avg_decoupling_pct:
                type: number
              hard_days_count:
                type: integer
              long_rides_count:
                type: integer
              athlete_home_timezone:
                type: string
              week_start_local:
                type: string
                format: date-time
              week_end_local:
                type: string
                format: date-time
              last_updated_at_utc:
                type: string
                format: date-time
    ZoneDistribution:
      type: object
      description: Zone-distribution contract with absolute minutes and percentages by zone across the selected time window.
      properties:
        athlete_id:
          type: string
          description: Athlete identifier
        query_window:
          type: object
          properties:
            start_date:
              type: string
              format: date-time
            end_date:
              type: string
              format: date-time
            days:
              type: integer
        total_minutes:
          type: number
          description: Total time across all zones
        zones:
          type: object
          description: Time spent in each zone (minutes)
          properties:
            z1:
              type: number
              description: Zone 1 minutes (low aerobic)
            z2:
              type: number
              description: Zone 2 minutes (aerobic base)
            z3:
              type: number
              description: Zone 3 minutes (tempo)
            z4:
              type: number
              description: Zone 4 minutes (threshold)
            z5:
              type: number
              description: Zone 5 minutes (VO2max/anaerobic)
        percentages:
          type: object
          description: Zone distribution as percentages (sum to 100)
          properties:
            z1:
              type: number
            z2:
              type: number
            z3:
              type: number
            z4:
              type: number
            z5:
              type: number
      required:
        - athlete_id
        - zones
        - total_minutes
    EfficiencyTrends:
      type: object
      description: Efficiency trend contract with per-workout decoupling and efficiency samples plus aggregated summary statistics over the selected window.
      properties:
        athlete_id:
          type: string
          description: Athlete identifier
        query_window:
          type: object
          properties:
            start_date:
              type: string
              format: date-time
            end_date:
              type: string
              format: date-time
            days:
              type: integer
        samples:
          type: array
          description: Per-workout efficiency metrics
          items:
            type: object
            properties:
              workout_id:
                type: string
              start_time_utc:
                type: string
                format: date-time
              sport:
                type: string
              duration_min:
                type: number
              decoupling_pct:
                type: number
                description: Aerobic decoupling % (positive = efficiency declined over workout, negative = efficiency improved)
              hr_drift_bpm:
                type: number
                description: Absolute HR drift in beats per minute
              ef_overall:
                type: number
                description: Overall efficiency factor (watts/bpm or m/min/bpm)
              ef_first_half:
                type: number
              ef_second_half:
                type: number
        summary:
          type: object
          properties:
            total_samples:
              type: integer
            avg_decoupling:
              type: number
              description: Average decoupling across all workouts
      required:
        - athlete_id
        - samples
  securitySchemes:
    FunctionKey:
      type: apiKey
      in: query
      name: code
      description: Azure Functions API key passed as `?code=...`
